<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="4" class="my-1">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <!-- DateRange Picker -->
      <b-col lg="5" md="4" sm="12">
        <b-input-group prepend="Date">
          <date-range-picker
            ref="picker"
            :opens="opens"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="1" md="4" sm="12"></b-col>

      <b-col sm class="my-1" align="right">
        <b-button size="sm" @click="print()" class="mr-1" v-b-tooltip.hover title="Print">
           <font-awesome-icon icon="print" />
        </b-button>

        <b-button size="sm" @click="exportFile()" class="mr-1" variant="success" v-b-tooltip.hover title="Export to Excel">
           <font-awesome-icon icon="download" />
        </b-button>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      ref="transfertable"
      class="table"
      id="transfer-table"
      style="font-size:13px"
      scrollable
      responsive
      :filter="filter"
      show-empty
      empty-text="There are no transactions to display"
      :empty-filtered-text="`No search for ${filter} `"
      :items="items"
      :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
      selectable
      @row-selected="openModal"
    >
      <template v-slot:cell(name)="row">
        {{ row.value.first }} {{ row.value.last }}
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">
              {{ key }}: {{ value }}
            </li>
          </ul>
        </b-card>
      </template>

      <template v-slot:cell(maturityDate)="row">
        <div class="progress-font-size">
          <b-progress class="pg mt-8" variant="success" height="5px" :value="80"  v-b-tooltip.hover sm title="Maturity Date : 08-14-2019"></b-progress>
        </div>
      </template>
    </b-table>

    <hr />

    <!-- table footer -->
    <b-row align-h="end" class="mt-3">
      <b-col cols="2" class="my-1 mt-3">
        <b-form-group
          label-cols-sm="6"
          label-cols-md="2"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0 mr-2"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            style="font-size: 10px"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>&nbsp;

      <b-col cols="1" offset="1" class="my-1 mt-3">
        <b-pagination
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>
    </b-row>

    <b-modal
      ref="modal"
      v-model="modalOpen"
      size="lg"
      header-text-variant="dark"
      id="bv-modal-row"
      class="modal"
      hide-footer
      scrollable
      no-close-on-backdrop
      @hidden="clearSelected"
      @close="clearSelected"
      @cancel="clearSelected"
    >
      <template v-slot:modal-title>
        <h5>Cheque Trail</h5>
      </template>

      <!--modal container-->
      <div class="container py-2 mt-4 mb-4">
        <!-- timeline item 1 -->
        <div class="row">
          <!-- timeline item 1 left dot -->
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <!-- timeline item 1 event content -->
          <div class="col py-2">
            <div class="card">
              <div class="card-body">
                <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
                <h4 class="card-title text-muted">Transferred</h4>
                <p class="card-text">Transfer No. : GSC-CW-SP-1324</p>
                <p class="card-text">Transferred By : Kiela Gee</p>
                <p class="card-text">Writer Group : GenSan Writer Group</p>
                <p class="card-text">Received Date : 02-11-2019</p>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
        <!-- timeline item 2 -->
        <div class="row">
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col py-2">
            <div class="card">
              <div class="card-body">
                <div class="float-right text-muted">Tue, Jan 10th 2019 8:30 AM</div>
                <h4 class="card-title text-muted">Transmitted</h4>
                <p class="card-text">Transmittal No. : GSC-TG-TR-112</p>
                <p class="card-text">Transmitted By : John Doe</p> 
                <p class="card-text">Transmitter Group : GenSan Transmitter Group</p>
                <p class="card-text">Received Date : 02-12-2019</p>                 
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
        <!-- timeline item 3 -->
        <div class="row">
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col py-2">
            <div class="card">
              <div class="card-body">
                <div class="float-right text-muted">Wed, Jan 11th 2019 8:30 AM</div>
                <h4 class="card-title text-muted">Received</h4>
                <p>Receive No. : GSC-CR-AS-11289</p>
                <p>Received By : John Smith</p>
                <p class="card-text">Releaser Group : GenSan Releaser Group</p>
                <p class="card-text">Received Date : 02-11-2019</p>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
        <!-- timeline item 4 -->
        <div class="row">
          <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-success">&nbsp;</span>
            </h5>
            <div class="row h-50">
              <div class="col">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col py-2">
            <div class="card border-success shadow ">
              <div class="card-body">
                <div class="float-right text-success">Thu, Jan 12th 2019 11:30 AM</div>
                <h4 class="card-title text-success">Released</h4>
                <p>Release No. : GSC-CR-AS-11219</p>
                <p>Released By : John Smith</p>
                <p class="card-text">Releaser Group : GenSan Releaser Group</p>
                <p class="card-text">Received Date : 02-11-2019</p>
              </div>
            </div>
          </div>
        </div>
        <!--/row-->
      </div>
      <!--container--> 
    </b-modal>
  </b-container>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";

export default {
  components: {
    DateRangePicker
  },
  data() {
    return {
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      modalOpen: false,

      //for data table
      items: [
        {
          chequeNo: "800909014832",
          createdBy: "Jennifer Joy Abugan",
          creationDate: "02-10-2019",
          voucherNo: "12638939213",
          payee: "Anne Curtis",
          chequeAmount: "189,000.00",
          paymentDate: "02-14-2019",
          maturityDate: "08-14-2019",
          bank: "BDO-Santiago",
          description: "Payment for Copra"
        }
      ],

      fields: [
        {
          key: "chequeNo",
          label: "Cheque No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "createdBy",
          label: "Created By",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "creationDate",
          label: "Creation Date",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "voucherNo",
          label: "Voucher No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "payee",
          label: "Payee",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "chequeAmount",
          label: "Cheque Amount",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "paymentDate",
          label: "Payment Date",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "maturityDate",
          label: "Maturity Date",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "bank",
          label: "Bank",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },
      ],
      totalRows: "",
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: []
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    rows() {
      return this.items.length
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    clearSelected() {
      this.modalOpen = false;
      this.$refs.transfertable.clearSelected();
    },
    openModal(items) {
      this.modalOpen = true;
    },
    transfer() {
      this.$bvModal.show("bv-modal-transfer");
    },

    update() {
      this.$bvModal.show("bv-modal-update");
    },

    post() {
      this.$bvModal.show("bv-modal-post");
    },

    unpost() {
      this.$bvModal.show("bv-modal-unpost");
    },

    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getActivityLogs();
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>

<style>
.button-circle {
  font-size: 75%; 
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}

.button-sq {
  font-size: 75%; 
  border: 0px;
  background: #00a651;
  border:0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}

.table {
  overflow-y:hidden;
  font-size: 75%;
}

.transfer {
  width: 50%;
  height: 50%;
}

.form {
  font-size:13px;
}

.badge-font-size{
  font-size: 15px
}

#transfer-table tbody tr:hover {
  background-color: #f2f3f4;
}

.page-item.active .page-link {  
  background-color: #00a651 !important;  
  border-color: #00a651 !important;  
  transition: background-color .3s;
} 

.page-item .page-link {
  color: black
}

</style>
