<template>
  <div class="body">
    <div class="container">
      <div>
        <b-card class='bcard'>
          <img style="height: 80px; width: 80px; margin-bottom: 20px;" src="/BFI.png"/>
          <h6 class="title">
            CHEQUE TRAIL INQUIRY
          </h6>
          <h2 class="subtitle">
            Version 1.0.0
          </h2>

          <input class="username" v-model="user.name" placeholder="Employee ID">
          
          <input class="password" v-model="user.password" placeholder="Password" type="password" style="margin-top: 20px">
          
          <b-btn class="login" @click="login()" block>
            LOGIN
          </b-btn>

          <!-- <b-alert 
            :show="dismissCountDown"
            dismissible
            fade="true"
            variant="success"
            @dismiss-count-down="countDownChanged"
          >{{ successMessage }}</b-alert> -->

          <b-alert
            :show="dismissCountDown"
            dismissible
            fade="true"
            variant="danger"
            @dismiss-count-down="countDownChanged"
          >{{ errorMessage }}</b-alert>

          <h2 class="subtitle" style="margin-top:30px">
            &copy;2019 BIOTECH FARMS INCORPORATED
          </h2>

        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {
    name: "Login",
    layout: "loginLayout",
    data() {
    return {
      user: {
        name: null,
        password: null
      },
      errorMessage: "",
      successMessage: "",
      dismissSecs: 2,
        dismissCountDown: 0,
        showDismissibleAlert: false
    };
  },
  
  created() {
    localStorage.clear();
  },

  computed: {
    inputValidation() {
      if (this.user.name.length > 0 && this.user.name.length <= 20) {
        return true;
      } else {
        return false;
      }
    }
  },

  methods: {
    async login() {
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/user/authenticate`,
        data: {
          employeeId: this.user.name,
          password: this.user.password
        }
      })
        .then(result => {
          localStorage.userDetails = JSON.stringify(result.data.fetched.user.details);
          localStorage.accessRights = JSON.stringify(result.data.fetched.user.accessRights);
          localStorage.userGroup =  JSON.stringify(result.data.fetched.user.userGroup);
      
          localStorage.token = result.data.fetched.token;

          // const role = result.data.fetched.user.details.role;
          // this.routeUserLogin(role);
          this.$router.push("/transactions");
          this.successMessage = result.data.fetched.message;
          this.showAlert();
        })
        .catch(err => {
          if(err){
            this.errorMessage = err.response.data.error;
            this.showAlert();
        }
      });
    },

  // routeUserLogin(role){
  //   switch(role){
  //     case 1:
  //       this.$router.push("/writer");
  //       break;
  //     case 2:
  //       this.$router.push("/releaser");
  //       break;
  //     case 3:
  //       this.$router.push("/transmitting-group");
  //       break;
  //     case 4:
  //       this.$router.push("/cmt");
  //       break;
  //     case 5:
  //       this.$router.push("/admin-dashboard/modules");
  //   }
  // },

  countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
      },
  
  showAlert() {
      this.dismissCountDown = this.dismissSecs
  },

  beforeCreate(){
    this.$store.dispatch('transaction/userDetails')
  }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login {
  margin-top: 30px;
  border: 0px;
}

.login:hover{
  background: #87b900;
  border: 0px;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #87b900;
  letter-spacing: 1px;
}
.bcard {
  border: 0px;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #87b900;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
.username, .password{
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.alert {
  position: fixed;
  bottom: 0%;
  right: 1%;
}

</style>
