<template>
  <b-container fluid>

    <!-- User Interface controls -->
    <b-row>
      <b-col lg="4" class="my-1" v-show="userActions.searchVoidedCheque">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
  
      <!-- DateRange Picker -->
      <b-col lg="5" md="4" sm="12" class="my-1">
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            ref="picker"
            :opens="opens"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <div v-show="userActions.viewVoidedCheques">
      <b-table
        style="font-size:13px"
        class="table"
        id="void-table"
        scrollable
        responsive
        show-empty
        :items="voidData"
        :fields="fields"
        empty-text="There are no cheques to display"
        :empty-filtered-text="`No search for ${filter} `"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
      >
        <template v-slot:cell(name)="row">
          {{ row.value.first }} {{ row.value.last }}
        </template>

        <template v-slot:cell(status)="row">
          <div class="badge-font-size">
            <b-badge pill variant="info">{{ row.item.status }}</b-badge>
          </div>
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">
                {{ key }}: {{ value }}
              </li>
            </ul>
          </b-card>
        </template>

        <template v-slot:cell(maturityDate)="row">
          <div class="progress-font-size">
            <b-progress class="pg mt-8" variant="danger" height="5px" :value="100"  v-b-tooltip.hover sm title="Date Matured : 08-14-2019"></b-progress>
          </div>
        </template>

      </b-table>
    </div>

    <hr />

    <!-- table footer -->
    <b-row align-h="end" class="mt-3">
      <b-col cols="2" class="my-1">
        <b-form-group
          label-cols-sm="6"
          label-cols-md="2"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0 mr-2"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"   
            style="font-size: 10px"
          ></b-form-select>
        </b-form-group>
      </b-col>&nbsp;

      <b-col cols="1" offset="1" class="my-1">
        <b-pagination
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>
    </b-row>

    <!-- void modal -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-example"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Void Cheque
        </h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Void' this cheque?
      </div>

       <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          No
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="save()"
          style="font-size:13px"
          class="button"
        >
          Yes
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from 'vuex'

export default {
  components: {
    DateRangePicker
  },

  // Access Rights
  created(){
    const user_actions = JSON.parse(localStorage.accessRights)["transactionModule"];

    

    if(user_actions.find(action => action.description === "Search specific Cheque Number to be Voided")){
      this.userActions.searchVoidedCheque = true;
    };
  },

  data() {
    return {
      userActions: {
        viewVoidedCheques: false,
        searchVoidedCheque: false
      },

      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      items: [
        {
          chequeNo: "810021239",
          createdBy: "Test Data01",
          creationDate: "03-10-2019",
          voucherNo: "DSW-21-2901",
          payee: "KPHI",
          paymentDate: "03-10-2019",
          maturityDate: "",
          chequeAmount: "958000.00",
          bank: "BDO-Santiago",
          description: "Payment for Cargill Products",
          status: "Voided"
        } 
      ],

      fields: [
        {
          key: "chequeNo",
          label: "Cheque No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "createdBy",
          label: "Created By",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "creationDate",
          label: "Creation Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "voucherNo",
          label: "Voucher No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "payee",
          label: "Payee",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "paymentDate",
          label: "Payment Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "maturityDate",
          label: "Maturity Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "chequeAmount",
          label: "Cheque Amount",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "bank",
          label: "Bank",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "status",
          label: "Status",
          sortable: false
        },

        // { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: []
    };
  },
  computed: {
    ...mapGetters({
      voidData: 'transaction/getVoidData'
    }),

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },

    rows() {
      return this.voidData.length
    }
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.voidData.length;
  },
  methods: {
    info() {
      this.$bvModal.show("bv-modal-example");
    },
    
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },

    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getActivityLogs();
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      // this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    
    beforeCreate(){
      this.$store.dispatch("transaction/fetchVoidData",{
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token
      });
    }
  }
};
</script>

<style>
.button-circle {
  font-size: 75%; 
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}

.button-sq {
  font-size: 75%; 
  border: 0px;
  background: #00a651;
  border:0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}

.table {
  overflow-y:hidden;
  font-size: 75%;
}

.transfer {
  width: 50%;
  height: 50%;
}

.form {
  font-size:13px;
}

.badge-font-size{
  font-size: 15px
}

.page-item.active .page-link {  
  background-color: #00a651 !important;  
  border-color: #00a651 !important;  
  transition: background-color .3s;
} 

.page-item .page-link {
  color: black
}
</style>

