<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="4" class="my-1">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <!-- DateRange Picker -->
      <b-col lg="5" md="4" sm="12">
        <b-input-group prepend="Date">
          <date-range-picker
            ref="picker"
            :opens="opens"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col cols="3" lg="3" sm="12" class="my-1" align="right">
        <b-button size="md" @click="endorseRecall()" class="button-sq mr-1">Recall Cheque
           <font-awesome-icon icon="angle-double-right" />
        </b-button>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      class="table"
      id="pulledOut-table"
      style="font-size:13px"
      selectable
      scrollable
      responsive
      :filter="filter"
      show-empty
      empty-text="There are no transactions to display"
      :empty-filtered-text="`No search for ${filter} `"
      :items="items"
      :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template v-slot:cell(name)="row">
        {{ row.value.first }} {{ row.value.last }}
      </template>

      <template v-slot:cell(status)="row">
        <div class="badge-font-size" v-if="row.item.status == 'Pulling-Out'">
          <b-badge pill style="background-color:#E27429">{{ row.item.status }}</b-badge>
        </div>
        <div class="badge-font-size" v-else>
          <b-badge pill style="background-color:#B22222">{{ row.item.status }}</b-badge>
        </div>
      </template>

      <template v-slot:cell(actions)="row">
        <div v-show="userActions.makePulloutReceipt">
          <b-button v-if="row.item.status == 'Pulling-Out'" size="sm" @click="makePulloutReceipt()" variant="success" class="button-circle" v-b-tooltip.hover title="Make Pull-Out Receipt">
            <font-awesome-icon icon="file" />
          </b-button>
        </div> 
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">
              {{ key }}: {{ value }}
            </li>
          </ul>
        </b-card>
      </template>
    </b-table>

    <hr />

    <!-- table footer -->
    <b-row align-h="end" class="mt-3">
      <b-col cols="2" class="my-1">
        <b-form-group
          label-cols-sm="6"
          label-cols-md="2"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0 mr-2"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
            style="font-size: 10px"
          ></b-form-select>
        </b-form-group>
      </b-col>&nbsp;

      <b-col cols="1" offset="1" class="my-1">
        <b-pagination
          id="pagination"
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>
    </b-row>

    <!-- endorse to recall modal -->
    <b-modal
      size="lg"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-recallCheque"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>Recall Cheque</h6>
      </template>

      <b-row>
        <b-col sm>
          <b-input-group size="sm" prepend="Find by">
            <b-form-select size="sm" v-model="filterActive" id="verified-filter" class="transfer">
              <option :value="``">Transaction No.</option>
              <option :value="``">Cheque No.</option>
              <option :value="``">Voucher No.</option>
              <option :value="``">Created By</option>
              <option :value="``">Payee</option>
              <option :value="``">Maturity Date</option>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Search"
            ></b-form-input>&nbsp;&nbsp;
                <b-form-input
                  v-model="filterCheque"
                  type="search"
                  id="filterInput"
                ></b-form-input>
            <b-input-group-append>
              <b-button size="sm" id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>&nbsp;
            <b-button size="sm" id="search" style="background-color: #00a651; border: 0px">
              <font-awesome-icon icon="search" />
            </b-button>
          </b-input-group>
        </b-col>
      </b-row>

      <hr />

      <h6 class="mb-3 mt-3">Add Transaction Details</h6>
      <b-card bg-variant="light">
          <b-row>
            <b-col cols="6">
              <small class="ml-1">Pull-Out No.</small>
              <b-form-input
                id="pulloutNo"
                v-model="pulloutNo"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="12234"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Description</small>
              <b-form-input
                id="description"
                v-model="description"
                :state="nameState"
                size="sm"
                required
                autofocus
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Pull-Out Date</small>
              <b-form-input
                id="pulloutDate"
                v-model="pulloutDate"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="02-19-2019"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="actualCount"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="1"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Pull-Out By</small>
              <b-form-input
                id="pulloutBy"
                v-model="pulloutBy"
                :state="nameState"
                size="sm"
                disabled
                required
                placeholder="General Accounting 3-KPHI"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="actualAmount"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="123,000.00"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Pull-Out To</small>
              <b-form-input
                id="pulloutTo"
                v-model="pulloutTo"
                :state="nameState"
                size="sm"
                disabled
                required
                placeholder="John Doe"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
             <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="status"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="Pulled-Out"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-card>
       
        <h6 class="mb-3 mt-3">List of Cheques</h6>
        
          <b-row>
            <b-col cols="12">
              <b-table
                class="table"
                id="transfer-table"
                style="font-size:12px"
                selectable
                scrollable
                responsive
                :filter="filter"
                show-empty
                empty-text="There are no transactions to display"
                :empty-filtered-text="`No search for ${filter} `"
                :items="itemsModal"
                :fields="fieldsModal"
              >
                <template v-slot:cell(name)="row">
                  {{ row.value.first }} {{ row.value.last }}
                </template>

                <template v-slot:row-details="row">
                  <b-card>
                    <ul>
                      <li v-for="(value, key) in row.item" :key="key">
                        {{ key }}: {{ value }}
                      </li>
                    </ul>
                  </b-card>
                </template>
              </b-table>
            </b-col>
          </b-row>
  
        <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="saveRecall()"
          style="font-size:13px"
          class="button"
        >
          Save and Post
        </b-button>
      </template>
    </b-modal>
    
    <!-- make recall receipt modal -->
    <b-modal
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-makePulloutReceipt"
      class="modal-xl"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>Make Pull-Out Receipt</h6>
      </template>
        
        <b-row>
        <b-col>
          <br>
          <br>
      
        <b-card bg-variant="light">
          <b-row>
            <b-col cols="6">
              <small class="ml-1">Receipt No.</small>
              <b-form-input
                id="receiptNo"
                v-model="receiptNo"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="1920293293"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Count</small>
              <b-form-input
                id="controlCount"
                v-model="controlCount"
                :state="nameState"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Receipt Date</small>
              <b-form-input
                id="receiptDate"
                v-model="receiptDate"
                :state="nameState"
                size="sm"
                required
                type="date"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Amount</small>
              <b-form-input
                id="controlAmnt"
                v-model="controlAmnt"
                :state="nameState"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Received From</small>
              <b-form-input
                id="transmitter-group"
                v-model="transmittergroup"
                :state="nameState"
                size="sm"
                disabled
                required
                placeholder="General Accounting 3-KPHI"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="actualCount"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="1"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Receive By</small>
              <b-form-input
                id="receive-by"
                v-model="receiveBy"
                :state="nameState"
                size="sm"
                disabled
                required
                placeholder="Rodrigo Roa"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="actualAmount"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="123,400.00"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Description</small>
              <b-form-input
                id="description"
                v-model="description"
                :state="nameState"
                size="sm"
                required
                autofocus
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="status"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="Pulling-Out"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-card>
        </b-col>

        <div style="width:2px;background:#c2c2c2;"></div>

        <b-col>
        <h6 class="mb-3">List of Cheques</h6>
        <hr />
        <b-card bg-variant="light">
        <b-row>      
          <b-col cols="6" >
              <b-input-group size="md">
                <b-form-input
                  v-model="filterCheque"
                  type="search"
                  id="filterInput"
                  placeholder="Search"
                ></b-form-input>&nbsp;&nbsp;
                <b-form-input
                  v-model="filterCheque"
                  type="search"
                  id="filterInput"
                ></b-form-input>
                <b-input-group-append>
                  <b-button size="sm" id="filter" :disabled="!filter" @click="filterCheque = ''">Clear</b-button>
                </b-input-group-append>&nbsp;
              </b-input-group>
            </b-col>

            <!-- DateRange Picker -->
            <b-col cols="6" lg-6>
              <b-input-group prepend="Date">
                <date-range-picker
                  id="date-range"
                  ref="picker"
                  :opens="opens"
                  :locale-data="localeData"
                  :autoApply="true"
                  :singleDatePicker="false"
                  :showWeekNumbers="true"
                  v-model="datePicker"
                  @update="updateValues"
                >
                  <div
                    slot="input"
                    style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
                </date-range-picker>
                <b-input-group-append>
                  <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>

          <b-form-checkbox
            class="mt-4 mb-2"
            @change="selectAll"
            :disabled="itemsModal.length === 0"
            :checked="selectedItems.length === itemsModal.length && itemsModal.length !== 0"
          >Select All</b-form-checkbox>

          <b-row>
            <b-col cols="12">
              <b-table
                class="my-table"
                id="modalTransfer-table"
                style="font-size:13px; background-color: #fff"
                ref="selectableTable"
                scrollable="true"
                selectedVariant="success"
                headVariant="light"
                empty-text="There are no transactions to display"
                :empty-filtered-text="`No search for ${filter} `"
                :filter="filterCheque"
                :items="itemsModal"
                :fields="fieldsModal" 
                :tbody-tr-class="rowClass"
                no-border-collapse
                show-empty 
                sticky-header
                selectable
                responsive      
              >
                <template v-slot:cell(name)="row">
                  {{ row.value.first }} {{ row.value.last }}
                </template>

                <template slot="index" id="select-item" slot-scope="data">
                  <b-form-checkbox name="selected-items" v-model="selectedItems" :value="data.item"></b-form-checkbox>
                </template>

                <template v-slot:row-details="row">
                  <b-card>
                    <ul>
                      <li v-for="(value, key) in row.item" :key="key">
                        {{ key }}: {{ value }}
                      </li>
                    </ul>
                  </b-card>
                </template>
              </b-table>
            </b-col>
          </b-row>
           </b-card>
        </b-col>
      </b-row>
        <!--
        <h6 class="mb-3 mt-3">List of Cheques</h6>
        <div>
          <b-button size="sm" variant="success" @click="selectAllRows">Select all</b-button>
        </div>
        &nbsp;
          <b-row>
            <b-col cols="12">
              <b-table
                class="table"
                id="transfer-table"
                style="font-size:12px"
                selectable
                scrollable
                responsive
                :filter="filter"
                show-empty
                empty-text="There are no transactions to display"
                :empty-filtered-text="`No search for ${filter} `"
                :items="itemsModal"
                :fields="fieldsModal"
                ref="selectableTable"
              >
                <template v-slot:cell(name)="row">
                  {{ row.value.first }} {{ row.value.last }}
                </template>
                <template v-slot:cell(status)="row">
                  <div class="badge-font-size">
                    <b-badge pill variant="info">{{ row.item.status }}</b-badge>
                  </div>
                </template>
                <template v-slot:row-details="row">
                  <b-card>
                    <ul>
                      <li v-for="(value, key) in row.item" :key="key">
                        {{ key }}: {{ value }}
                      </li>
                    </ul>
                  </b-card>
                </template>
              </b-table>
            </b-col>
          </b-row>
          -->
  
        <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="saveReceipt()"
          style="font-size:13px"
          class="button"
        >
          Save
        </b-button>
      </template>
    </b-modal>

    <!-- post modal -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-endorseRecall"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Recall Transaction
        </h6>
      </template>

      <b-card bg-variant="light">
          <b-row>
            <b-col cols="6">
              <small class="ml-1">Recall No.</small>
              <b-form-input
                id="pullOutNo"
                v-model="pullOutNo"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="GSC-PO-SBV-849"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Count</small>
              <b-form-input
                id="controlCount"
                v-model="controlCount"
                :state="nameState"
                size="sm"
                required
                placeholder="0"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>

          <!-- tanggalon if wala nay cheque writer -->
          <b-row>
            <b-col>
              <small class="ml-1">Transmitter Group</small>
              <b-form-input
                id="cmGroup"
                v-model="cmGroup"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="General Accounting 3 - KPHI"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <!-- tanggalon if wala nay cheque writer end -->
            
            <b-col>
              <small class="ml-1">Control Amount</small>
              <b-form-input
                id="controlAmnt"
                v-model="controlAmnt"
                :state="nameState"
                size="sm"
                required
                placeholder="0.00"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Organization</small>
              <b-form-input
                id="organization"
                v-model="organization"
                :state="nameState"
                size="sm"
                disabled
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="actualCount"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="1"
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Recall To</small>
              <b-form-input
                id="returnTo"
                v-model="returnTo"
                :state="nameState"
                size="sm"
                disabled
                required
                placeholder="John Doe"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="actualAmount"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="958,000.00"
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Cash Management Group</small>
              <b-form-input
                id="releaseLoc"
                v-model="releaseLoc"
                :state="nameState"
                size="sm"
                disabled
                required
                placeholder="GenSan Cash Management Location"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Recall Date</small>
              <b-form-input
                id="pullOutDate"
                v-model="pullOutDate"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="02-13-2019"
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Description</small>
              <b-form-input
                id="description"
                v-model="description"
                :state="nameState"
                size="sm"
                disabled
                required
                placeholder="CTIS Performance Testing - Docs Pull-Out"
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="status"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="Pulled-Out"
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
          <b-row>
            <b-col>
              
            </b-col>
            <b-col>
              <small class="ml-1">Recall By</small>
              <b-form-input
                id="returnBy"
                v-model="returnBy"
                :state="nameState"
                size="sm"
                required
                disabled
                placeholder="Rodrigo Roa"
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
        </b-card>

       <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          No
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="save()"
          style="font-size:13px"
          class="button"
        >
          Yes
        </b-button>
      </template>
    </b-modal>

  </b-container>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
// import { mapGetters } from 'vuex'

export default {
  components: {
    DateRangePicker
  },

  // Access Rights
  created(){
    const user_actions = JSON.parse(localStorage.accessRights)["transactionModule"];

    if(user_actions.find(action => action.description === "Make Pull-Out Receipt for selected Staled Cheque")){
      this.userActions.makePulloutReceipt = true;
    };
  },

  data() {
    return {
      userActions: {
        makePulloutReceipt: false
      },

      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      selectedItems: [],
      //modal table for add and update
      itemsModal: [
        {
          chequeNo: 8000394403,
          createdBy: "Test Data",
          creationDate: "02-10-2019",
          voucherNo: "DSW-133-32",
          payee: "KPHI",
          paymentDate: "02-10-2019",
          maturityDate: "08-11-2019",
          chequeAmount: "51000.00",
          bank: "BDO-Santiago",
          description: "Payment for Copra"
        } 
      ],
      fieldsModal: [
        {
          key: "chequeNo",
          label: "Cheque No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "createdBy",
          label: "Created By",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "creationDate",
          label: "Creation Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "voucherNo",
          label: "Voucher No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "payee",
          label: "Payee",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "paymentDate",
          label: "Payment Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "maturityDate",
          label: "Maturity Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "chequeAmount",
          label: "Cheque Amount",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "bank",
          label: "Bank",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },
      ],

      description: "",
      controlCount: "",
      controlAmnt: "",
      status: "Pulled-Out",

      //for data table
      items: [
        {
          transactionNo: 1,
          transactionDate: "01-10-2019",
          description: "CMA-Reference Check",
          controlCount: "0",
          controlAmnt: "0.00",
          status: "Pulling-Out"
        },
        {
          transactionNo: 1,
          transactionDate: "01-10-2019",
          description: "CMA-Reference Check",
          controlCount: "0",
          controlAmnt: "0.00",
          status: "Pulled-Out"
        }
      ],

      fields: [
        {
          key: "transactionNo",
          label: "Transaction No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "transactionDate",
          label: "Transaction Date",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlCount",
          label: "Control Count",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlAmnt",
          label: "Control Amount",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "status",
          label: "Status",
          sortable: false
        },

        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: []
    };
  },
  computed: {
    // ...mapGetters({
    //   transferData: 'transaction/getTransferData'
    // }),

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
      });
    },
    rows() {
      return this.items.length
    }
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },
  methods: {

    selectAllRows() {
      this.$refs.selectableTable.selectAllRows()
    },

    saveReceipt(){
      this.items.push({
        description: this.description,
        controlCount: this.controlCount,
        controlAmnt: this.controlAmnt,
        status: this.status
      });
      this.$bvModal.hide("bv-modal-makePulloutReceipt");
    },

    saveRecall(){
      this.items.push({
        description: this.description,
        controlCount: this.controlCount,
        controlAmnt: this.controlAmnt,
        status: this.status
      });
      this.$bvModal.hide("bv-modal-endorseRecall");
    },

    endorseRecall() {
      this.$bvModal.show("bv-modal-endorseRecall");
    },

    makePulloutReceipt() {
      this.$bvModal.show("bv-modal-makePulloutReceipt");
    },

    post() {
      this.$bvModal.show("bv-modal-post");
    },

    unpost() {
      this.$bvModal.show("bv-modal-unpostPullOut");
    },

    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getActivityLogs();
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    selectAll() {
      if (this.selectedItems.length === this.itemsModal.length) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.itemsModal.slice();
      }
    },

    rowClass(item, type) {
      return this.selectedItems.indexOf(item) > -1 ? "table-success" : "";
    },
  },
  // beforeCreate(){
  //   this.$store.dispatch('transaction/fetchTransferData')
  // }
};
</script>

<style>
.button-circle {
  font-size: 75%; 
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}

.button-sq {
  font-size: 75%; 
  border: 0px;
  background: #00a651;
  border:0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}

.my-table {
  overflow-y:auto;
  font-size: 75%;
  max-height:240px;
}

.modal-xl {
  max-width: 90% !important;
}

.transfer {
  width: 50%;
  height: 50%;
}

.form {
  font-size:13px;
}

.badge-font-size{
  font-size: 15px
}

.page-item.active .page-link {  
  background-color: #00a651 !important;  
  border-color: #00a651 !important;  
  transition: background-color .3s;
} 

.page-item .page-link {
  color: black
}
</style>
