<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="4" class="my-1">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <!-- DateRange Picker -->
      <b-col lg="5" md="4" sm="12" class="my-1">
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            ref="picker"
            :opens="opens"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col sm class="my-1" align="right">
        <b-button size="md" @click="viewReceivedTransactions()" class="button-sq mr-1">Receive Cheques
           <font-awesome-icon icon="angle-double-right" />
        </b-button>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      class="table"
      id="receive-table"
      style="font-size:13px"
      scrollable
      responsive
      :filter="filter"
      show-empty
      empty-text="There are no transactions to display"
      :empty-filtered-text="`No search for ${filter} `"
      :items="receiveMainTableData"
      :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template v-slot:cell(name)="row">
        {{ row.value.first }} {{ row.value.last }}
      </template>

      <template v-slot:cell(transactionDate)="row">
        {{ formatDate(row.item.transactionDate) }}
      </template>

      <template v-slot:cell(status)="row">
        <div class="badge-font-size" v-if="row.item.checkStatus === 'transmitted'">
          <b-badge pill style="background-color:#008080">Transmitting</b-badge>
        </div>
        <div class="badge-font-size" v-else>
          <b-badge pill variant="success">Received</b-badge>
        </div>
      </template>

      <template v-slot:cell(actions)="row">
        <b-button v-if="row.item.status !== 'Received'" size="sm" @click="viewTransactionDetails(row.item.id)" class="button-circle" style="background-color:#E27429" v-b-tooltip.hover title="Receive">
           <font-awesome-icon icon="folder-open" />
        </b-button>
      
        <b-button v-if="row.item.status == 'Received'" size="sm" @click="unpostReceive()" class="button-circle" variant="danger" v-b-tooltip.hover title="Unpost">
           <font-awesome-icon icon="unlock" />
        </b-button>
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">
              {{ key }}: {{ value }}
            </li>
          </ul>
        </b-card>
      </template>
    </b-table>

    <hr />

    <!-- table footer -->
    <b-row align-h="end" class="mt-3">
      <b-col cols="2" class="my-1">
        <b-form-group
          label-cols-sm="6"
          label-cols-md="2"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0 mr-2"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
            style="font-size: 10px"
          ></b-form-select>
        </b-form-group>
      </b-col>&nbsp;

      <b-col cols="1" offset="1" class="my-1">
        <b-pagination
          id="pagination"
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>
    </b-row>
    
    <!-- RECEIVE MODAL -->
    <b-modal
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-receive"
      class="modal-xl"
      scrollable="true"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h5>Receive Transaction</h5>
      </template>

      <b-row>
        <b-col>
          <h6 class="mb-3">Transaction Details</h6>
          <hr />
          <b-card bg-variant="light">
            <b-row>
              <b-col>
                <small class="ml-1">Transmittal No.</small>
                <b-form-input
                  id="transmittal-no"
                  v-model="transmitTransactionDetails.details.transmittalNumber"
                  size="sm"
                  required
                  disabled
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Transmittal Actual Count</small>
                <b-form-input
                  id="actualCount"
                  v-model="transmitTransactionDetails.details.actualCount"
                  size="sm"
                  required
                  disabled
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small class="ml-1">Transmitter Group</small>
                <b-form-input
                  id="transmitterGroup"
                  v-model="transmitTransactionDetails.details.transmittingGroup"
                  size="sm"
                  required
                  disabled
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Transmittal Actual Amount</small>
                <b-form-input
                  id="actualCount"
                  v-model="transmitTransactionDetails.details.actualAmount"
                  size="sm"
                  required
                  disabled
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small class="ml-1">Transmittal Description</small>
                <b-form-input
                  id="transmittalDesc"
                  v-model="transmitTransactionDetails.details.description"
                  size="sm"
                  required
                  disabled
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Organization</small>
                <b-form-input
                  id="organization"
                  v-model="organization"
                  size="sm"
                  required
                  disabled
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small class="ml-1">Transmittal Date</small>
                <b-form-input
                  id="transmittalDate"
                  v-model="computedFormatDate"
                  size="sm"
                  required
                  disabled
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Releasing Location</small>
                <b-form-input
                  id="releasingLoc"
                  v-model="transmitTransactionDetails.details.releasingLocation"
                  size="sm"
                  required
                  disabled
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small class="ml-1">Transmit By</small>
                <b-form-input
                  id="transmitBy"
                  v-model="transmitTransactionDetails.details.transmittedByName"
                  size="sm"
                  required
                  disabled
                  placeholder="John Doe"
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
              <b-col>
                <small class="ml-1">Status</small>
                <b-form-input
                  id="status"
                  v-model="transmitTransactionDetails.details.isPosted"
                  size="sm"
                  required
                  disabled
                  placeholder="Transmitting"
                  style="font-size:10px"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-card>
        </b-col>

        <div style="width:2px;background:#c2c2c2;"></div>

        <b-col>
          <h6 class="mb-3">List of Cheques</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>      
            <b-col cols="5" >
              <b-input-group size="sm">
                <b-form-input
                  v-model="filterCheque"
                  type="search"
                  id="filterInput"
                  placeholder="Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button size="sm" id="filter" :disabled="!filter" @click="filterCheque = ''">Clear</b-button>
                </b-input-group-append>&nbsp;
              </b-input-group>
            </b-col>

            <!-- DateRange Picker -->
            <b-col style="position: absolute; margin-left: 25rem" cols="7" lg-6>
              <b-input-group size="sm" prepend="Date">
                <date-range-picker
                  id="date-range"
                  ref="picker"
                  :opens="opens"
                  :locale-data="localeData"
                  :autoApply="true"
                  :singleDatePicker="false"
                  :showWeekNumbers="true"
                  v-model="datePicker"
                  @update="updateValues"
                >
                  <div
                    slot="input"
                    style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
                </date-range-picker>
                <b-input-group-append>
                  <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>

          <br>

          <b-row>
            <b-col cols="12">
              <b-table
                class="my-table"
                id="modalReceiveTransmit-table"
                style="font-size:13px; background-color: #fff"
                ref="selectableTable"
                scrollable="true"
                selectedVariant="success"
                headVariant="light"
                empty-text="There are no cheques to display"
                :empty-filtered-text="`No search for ${filter} `"
                :filter="filterCheque"
                :items="transmitTransactionDetails.checks"
                :fields="fieldsModal" 
                :tbody-tr-class="rowClass"
                no-border-collapse
                show-empty 
                sticky-header
                responsive      
              >
                <template v-slot:cell(name)="row">
                  {{ row.value.first }} {{ row.value.last }}
                </template>

                <template slot="index" id="select-item" slot-scope="data">
                  <b-form-checkbox name="selected-items" v-model="receiveTransactionFields.checks" :value="data.item"></b-form-checkbox>
                </template>

                <template v-slot:cell(creationDate)="row">
                  {{ formatDate(row.item.creationDate) }}
                </template>

                <template v-slot:cell(paymentDate)="row">
                  {{ formatDate(row.item.paymentDate) }}
                </template>

                <template v-slot:cell(maturityDate)="row">
                  {{ formatDate(row.item.maturityDate) }}
                </template>

                <template v-slot:row-details="row">
                  <b-card>
                    <ul>
                      <li v-for="(value, key) in row.item" :key="key">
                        {{ key }}: {{ value }}
                      </li>
                    </ul>
                  </b-card>
                </template>
              </b-table>
            </b-col>
          </b-row>
           </b-card>
        </b-col>
      </b-row>
  
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >Cancel
        </b-button>

        <b-button
          size="sm"
          variant="success"
          @click="receiveTransmitTransaction()"
          style="font-size:13px"
          class="button"
        > Receive
        </b-button>
        
        <b-button
          size="sm"
          variant="danger"
          @click="unpostReceiveTransmit()"
          style="font-size:13px"
          class="button"
        >Deny
        </b-button>
      </template>
    </b-modal>

    <!-- RELEASE TRANSACTION MODAL -->
    <b-modal
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-endorseRelease"
      class="modal-xl"
      scrollable="true"  
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h5>Release Transaction</h5>
      </template>

      <b-row>
        <b-col>
          <h6 class="mb-3">Transaction Details</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>
            <b-col>
              <small class="ml-1">Transmittal No.</small>
              <b-form-select
                id="transmittal-no"
                v-model="selectTransmittalNumber"
                size="sm"
                required
                style="font-size:10px"
                @change="getTransmitTransactionDetails()"
              >
                <option :value="null" disabled>Select Transmittal Number</option>
                <option :value="number.id" v-for="(number, i) in transmitNumbers" :key="i">{{ number.transmittalNumber }}</option>
              </b-form-select>
            </b-col>
            <b-col>
              <small class="ml-1">Receive No.</small>
              <b-form-input
                id="receiveNo"
                v-model="receiveNo"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmitter Group</small>
              <b-form-input
                id="transmitterGroup"
                v-model="transmitTransactionDetails.details.transmittingGroup"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Releaser</small>
              <b-form-input
                id="releaser"
                v-model="releaser"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmittal Description</small>
              <b-form-input
                id="transmittalDesc"
                v-model="transmitTransactionDetails.details.description"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Receive Description</small>
              <b-form-input
                id="receiveDesc"
                v-model="receiveTransactionFields.receiveDescription"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmittal Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="transmitTransactionDetails.details.actualCount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Receive Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="receiveTransactionFields.controlCount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmittal Actual Amount</small>
              <b-form-input
                id="actualCount"
                v-model="transmitTransactionDetails.details.actualAmount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Receive Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="receiveTransactionFields.controlAmount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmittal Date</small>
              <b-form-input
                id="transmittalDate"
                v-model="computedFormatDate"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Receive Date</small>
              <b-form-input
                id="receive_date"
                v-model="receive_date"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmitted By</small>
              <b-form-input
                id="transmitBy"
                v-model="transmitTransactionDetails.details.transmittedByName"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Receive By</small>
              <b-form-input
                id="receiveBy"
                v-model="transmitTransactionDetails.details.receivedByName"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
               <small class="ml-1">Organization</small>
              <b-form-input
                id="organization"
                v-model="organization"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="status"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Releasing Location</small>
              <b-form-input
                id="releasingLoc"
                v-model="transmitTransactionDetails.details.releasingLocationName"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              
            </b-col>
          </b-row>
        </b-card>
      </b-col>

      <div style="width:2px;background:#c2c2c2;"></div>
        <b-col>
          <h6 class="mb-3">List of Cheques</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>      
            <b-col cols="6" >
              <b-input-group size="sm">
                <b-form-input
                  v-model="filterCheque"
                  type="search"
                  id="filterInput"
                  placeholder="Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button size="sm" id="filter" :disabled="!filter" @click="filterCheque = ''">Clear</b-button>
                </b-input-group-append>&nbsp;
              </b-input-group>
            </b-col>

            <!-- DateRange Picker -->
            <b-col cols="6" lg-6>
              <b-input-group size="sm" prepend="Date">
                <date-range-picker
                  id="date-range"
                  ref="picker"
                  :opens="opens"
                  :locale-data="localeData"
                  :autoApply="true"
                  :singleDatePicker="false"
                  :showWeekNumbers="true"
                  v-model="datePicker"
                  @update="updateValues"
                >
                  <div
                    slot="input"
                    style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
                </date-range-picker>
                <b-input-group-append>
                  <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>

          <b-form-checkbox
            class="mt-4 mb-2"
            @change="selectAll"
            :disabled="transmitTransactionDetails.checks.length === 0"
            :checked="selectedItems.length === transmitTransactionDetails.checks.length && transmitTransactionDetails.checks.length !== 0"
          >Select All</b-form-checkbox>

          <b-row>
            <b-col cols="12">
              <b-table
                class="my-table"
                id="modalReceiveTransmit-table"
                style="font-size:13px; background-color: #fff"
                ref="selectableTable"
                scrollable="true"
                selectedVariant="success"
                headVariant="light"
                empty-text="There are no cheques to display"
                :empty-filtered-text="`No search for ${filterCheque} `"
                :filter="filterCheque"
                :items="transmitTransactionDetails.checks"
                :fields="fieldsModal" 
                :tbody-tr-class="rowClass"
                no-border-collapse
                show-empty 
                sticky-header
                selectable
                responsive
                @row-selected="rowSelected"
              >
                <template v-slot:cell(name)="row">
                  {{ row.value.first }} {{ row.value.last }}
                </template>

                <template slot="index" id="select-item" slot-scope="data">
                  <b-form-checkbox name="selected-items" v-model="receiveTransactionFields.checks" :value="data.item"></b-form-checkbox>
                </template>

                <template v-slot:cell(creationDate)="row">
                  {{ formatDate(row.item.creationDate) }}
                </template>

                <template v-slot:cell(paymentDate)="row">
                  {{ formatDate(row.item.paymentDate) }}
                </template>

                <template v-slot:cell(maturityDate)="row">
                  {{ formatDate(row.item.maturityDate) }}
                </template>

                <template v-slot:row-details="row">
                  <b-card>
                    <ul>
                      <li v-for="(value, key) in row.item" :key="key">
                        {{ key }}: {{ value }}
                      </li>
                    </ul>
                  </b-card>
                </template>
              </b-table>
            </b-col>
          </b-row>
           </b-card>
        </b-col>
      </b-row>


       <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="createReceiveTransaction()"
          style="font-size:13px"
          class="button"
        >
          Save and Post
        </b-button>
      </template>
    </b-modal>

    <!-- confirmation modal before saving and post -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-postReceiveCheques"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>Post Transaction</h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Post' this transaction?
      </div>

      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >No
        </b-button>

        <b-button
          size="sm"
          variant="success"
          @click="confirmReceiveCheques()"
          style="font-size:13px"
          class="button"
        >Yes
        </b-button>
      </template>   
    </b-modal>

    <!-- unpost modal -->
    <b-modal
      size="md"
      header-bg-variant="danger"
      header-text-variant="light"
      id="bv-modal-unpostReceive"  
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Unpost Transaction Details
        </h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Unpost' this transaction?
      </div>

      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          No
        </b-button>
        <b-button
          size="sm"
          variant="danger"
          @click="save()"
          style="font-size:13px"
          class="button"
        >
          Yes
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from 'vuex'

export default {
  components: {
    DateRangePicker
  },

  created(){
    const user_actions = JSON.parse(localStorage.accessRights);
    const user_details = JSON.parse(localStorage.userDetails);
    const user_group = JSON.parse(localStorage.userGroup);
      this.currentUserId = user_details.id;
      this.releaser = `${user_details.firstname} ${user_details.lastname}`;
      this.receiveTransactionFields.releaser = user_details.id;
      this.receiveTransactionFields.groupCode = user_group.groupCode;
  },

  data() {
    return {
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      //modal table for add and update
      itemsModal: [
        {
          chequeNo: 8000394403,
          createdBy: "Test Data",
          creationDate: "02-10-2019",
          voucherNo: "DSW-133-32",
          payee: "KPHI",
          paymentDate: "02-10-2019",
          maturityDate: "08-11-2019",
          chequeAmount: "51000.00",
          bank: "BDO-Santiago",
          description: "Payment for Copra"
        } 
      ],
      fieldsModal: [
        {
          key: "checkNumber",
          label: "Cheque No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "createdBy",
          label: "Created By",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "creationDate",
          label: "Creation Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "voucher",
          label: "Voucher No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "payee",
          label: "Payee",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "paymentDate",
          label: "Payment Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "maturityDate",
          label: "Maturity Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "checkAmount",
          label: "Cheque Amount",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "accountName",
          label: "Bank",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },
      ],
      selectedItems: [],

      receiveTransactionFields: {
        receiveDescription: null,
        releaser: null,
        controlCount: 0,
        controlAmount: 0,
	      groupCode: null,
	      checks: []
      },

      fields: [
        {
          key: "transactionNumber",
          label: "Transaction No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "transactionDate",
          label: "Transaction Date",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlCount",
          label: "Control Count",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlAmount",
          label: "Control Amount",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "status",
          label: "Status",
          sortable: false
        },

        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterCheque: null,
      filterOn: [],
      selectedMainTableRow: null,
      selectTransmittalNumber: null,
      currentUserId: null
    };
  },
  computed: {
    ...mapGetters({
      receiveMainTableData: 'transaction/getReceiveMainTableData',
      transmitNumbers: 'transaction/getReceivedTransactionNumbers', 
      transmitTransactionDetails: 'transaction/getTransmitTransactionDetails'
    }),

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },

    rows() {
      return this.receiveMainTableData.length
    },

    computedFormatDate(){
      if(this.transmitTransactionDetails.details.transmittalDate)
        return moment(this.transmitTransactionDetails.details.transmittalDate).format("DD MMMM, YYYY")
    },

  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.receiveMainTableData.length;
  },
  methods: {
    formatDate(date){
      return moment(date).format("DD MMMM, YYYY")
    },

    rowSelected(items){
      try {
        const selectedItemArr = [];
        this.receiveTransactionFields.controlCount = null;
        this.receiveTransactionFields.controlAmount = null;

        for (let i = 0; i < items.length; i++) {
          const selectedItem = {
            id: items[i].id,
            checkNumber: items[i].checkNumber
          };
          selectedItemArr.push(selectedItem);
          this.receiveTransactionFields.controlAmount += items[i].checkAmount;
        };
        this.receiveTransactionFields.checks = selectedItemArr;
        this.receiveTransactionFields.controlCount = selectedItemArr.length;
      } catch (err) {}
    },
    
    selectAllRows() {
      this.$refs.selectableTable.selectAllRows()
    },

    selectAll() {
      this.receiveTransactionFields.controlCount = null;
      this.receiveTransactionFields.controlAmount = null;
      
      if (this.receiveTransactionFields.checks.length === this.transmitTransactionDetails.checks.length) {
        this.receiveTransactionFields.checks = [];
      } else {

        this.receiveTransactionFields.checks = this.transmitTransactionDetails.checks.slice();

        for (let i = 0; i < this.receiveTransactionFields.checks.length; i++) {
          this.receiveTransactionFields.controlAmount += this.receiveTransactionFields.checks[i].checkAmount;
        };

        this.receiveTransactionFields.controlCount = this.receiveTransactionFields.checks.length;

      }
    },

    rowClass(item, type) {
      return this.receiveTransactionFields.checks.indexOf(item) > -1 ? "table-success" : "";
    },

    async getTransmitTransactionDetails(){
      const transactionId = this.selectTransmittalNumber
      this.$store.dispatch("transaction/fetchTransmitTransactionDetails",{
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transactionId
      })     
    },

    viewReceivedTransactions() {

      this.$store.dispatch("transaction/resetTransmit");

      this.$store.dispatch("transaction/fetchReceivedTransactionNumbers",{
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transaction: 'transmittalTransactions'
      });

      this.$bvModal.show("bv-modal-endorseRelease");
    },

    viewTransactionDetails(id) {
      this.selectedMainTableRow = id;
      const transactionId = id;

      this.$store.dispatch("transaction/resetTransmit");

      this.$store.dispatch("transaction/fetchTransmitTransactionDetails",{
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transactionId
      });
      this.$bvModal.show("bv-modal-receive");
    },

    confirmReceiveCheques() {
      this.$store.dispatch("transaction/createReceiveTransaction", {
        user_id: JSON.parse(localStorage.userDetails).userGroup,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        receiveTransactionFields: this.receiveTransactionFields
      })
      this.$bvModal.hide("bv-modal-postReceiveCheques");
      this.$bvModal.hide("bv-modal-endorseRelease")
    },

    unpostReceiveTransmit() {
      this.$bvModal.show("bv-modal-unpostReceive");
    },
    
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getActivityLogs();
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    receiveTransmitTransaction(i){
      const receivedBy = this.currentUserId
      const id = this.selectedMainTableRow;

      this.$store.dispatch("transaction/receiveTransmittedTransaction", {
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transactionId: id,
        receivedBy
      });

      this.$store.dispatch('transaction/fetchReceiveMainTableData', {
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token
      });

      // this.receiveMainTableData.splice(i, 1)
      this.$bvModal.hide("bv-modal-receive");
    },

    createReceiveTransaction(){
      this.$bvModal.show("bv-modal-postReceiveCheques");
    }
  },
  beforeCreate(){
    this.$store.dispatch('transaction/fetchReceiveMainTableData', {
      user_id: JSON.parse(localStorage.userDetails).id,
      user_actions: JSON.parse(localStorage.accessRights),
      token: localStorage.token
    });
  }
};
</script>

<style>
.button-circle {
  font-size: 75%; 
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}

.button-sq {
  font-size: 75%; 
  border: 0px;
  background: #00a651;
  border:0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}


.my-table {
  overflow-y:auto;
  font-size: 75%;
  max-height:240px;
}

.modal-xl {
  max-width: 90% !important;
}

.receive {
  width: 50%;
  height: 50%;
}

.form {
  font-size:13px;
}

.badge-font-size{
  font-size: 15px
}

.page-item.active .page-link {  
  background-color: #00a651 !important;  
  border-color: #00a651 !important;  
  transition: background-color .3s;
} 

.page-item .page-link {
  color: black
}
</style>
