<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="4" class="my-1">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <!-- DateRange Picker -->
      <b-col lg="5" md="4" sm="12" class="my-1">
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            ref="picker"
            :opens="opens"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="1" md="4" sm="12"></b-col>

      <b-col sm class="my-2" align="right">
        <b-button size="md" @click="returnDocs()" class="button-sq mr-1">Return Cheque Docs
           <!-- <font-awesome-icon icon="angle-double-right" /> -->
        </b-button>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      class="table"
      id="release-table"
      style="font-size:13px"
      selectable
      scrollable
      responsive
      :filter="filter"
      show-empty
      empty-text="There are no cheques to display"
      :empty-filtered-text="`No search for ${filter} `"
      :items="receivedChecks"
      :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
      @row-selected="rowSelected"
    >
      <template v-slot:cell(name)="row">
        {{ row.value.first }} {{ row.value.last }}
      </template>

      <template v-slot:cell(creationDate)="row">
        {{ formatDate(row.item.creationDate) }}
      </template>

      <template v-slot:cell(paymentDate)="row">
        {{ formatDate(row.item.paymentDate) }}
      </template>

      <template v-slot:cell(maturityDate)="row">
        {{ formatDate(row.item.maturityDate) }}
      </template>

      <template v-slot:cell(status)="row">
        <div class="badge-font-size" v-if="row.item.status == 'received'">
          <b-badge pill variant="success">{{ toSentenceCase(row.item.status) }}</b-badge>
        </div>

        <div class="badge-font-size" v-else>
          <b-badge pill style="background-color: #9932CC">{{ toSentenceCase(row.item.status) }}</b-badge>
        </div>
      </template>

      <template v-slot:cell(actions)="row">
        <b-button v-if="row.item.status == 'received'" size="sm" @click="chequeReleaseDetails(row.item.id)" class="button-circle" style="background-color: #00a651" v-b-tooltip.hover title="Release Cheque">
          <font-awesome-icon icon="share" />
        </b-button>
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">
              {{ key }}: {{ value }}
            </li>
          </ul>
        </b-card>
      </template>

      <template v-slot:cell(maturityDate)="row">
        <div class="progress-font-size">
          <b-progress 
            class="pg mt-8" 
            variant="success" 
            height="5px" 
            :value="getDaysRemaining(row.item.creationDate)"
            :max="getMaxDays(row.item.creationDate, row.item.maturityDate)"
            sm
            v-b-tooltip.hover.right="'Maturity Date: ' + formatDate(row.item.maturityDate)"
            >
          </b-progress>
        </div>
      </template>
    </b-table>

    <hr />

    <!-- table footer -->
    <b-row align-h="end" class="mt-3">
      <b-col cols="2" class="my-1">
        <b-form-group
          label-cols-sm="6"
          label-cols-md="2"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0 mr-2"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"      
            style="font-size: 10px"
          ></b-form-select>
        </b-form-group>
      </b-col>&nbsp;

      <b-col cols="1" offset="1" class="my-1">
        <b-pagination
          id="pagination"
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>
    </b-row>
    
    <!-- return cheque docs modal -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-returnDocs"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Return Cheque Docs
        </h6>
      </template>

      <b-card bg-variant="light">
          <b-row>
            <b-col cols="6">
              <small class="ml-1">Return No.</small>
              <b-form-input
                id="recallNo"
                v-model="recallNo"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Count</small>
              <b-form-input
                id="controlCount"
                v-model="checkDocsReturnFields.controlCount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>

          <!-- tanggalon if wala nay cheque writer -->
          <b-row>
            <b-col>
              <small class="ml-1">Transmitter Group</small>
              <b-form-select 
                  size="sm" 
                  style="font-size:10px" 
                  v-model="selectedTransmitterGroup" 
                  id="transmitter-group"
                  @change="selectTransmitter()"
                  required
                >
                <option :value="null" disabled>Select transmitter group</option>
                <option :value="group.id" v-for="(group, i) in transmitterGroupsData" :key="i">{{ group.groupDesc }} ({{ group.groupCode}})</option>
              </b-form-select>
            </b-col>
            <!-- tanggalon if wala nay cheque writer end -->
            
            <b-col>
              <small class="ml-1">Control Amount</small>
              <b-form-input
                id="controlAmnt"
                v-model="checkDocsReturnFields.controlAmount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Organization</small>
              <b-form-input
                id="organization"
                v-model="organization"
                size="sm"
                disabled
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="actualCount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Return To</small>
              <b-form-select
                id="returnTo"
                v-model="checkDocsReturnFields.returnTo"
                size="sm"
                required
                style="font-size:10px"
              >
                <option :value="null" disabled>Select Transmitter</option>
                <option :value="transmitter.id" v-for="(transmitter, i) in transmitterList" :key="i">{{ transmitter.firstname }} {{ transmitter.lastname}}</option>
              </b-form-select>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="actualAmount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Release Location</small>
              <b-form-input
                id="releaseLoc"
                v-model="releaseLoc"
                size="sm"
                disabled
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Return Date</small>
              <b-form-input
                id="returnDate"
                v-model="returnDate"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Description</small>
              <b-form-input
                id="description"
                v-model="checkDocsReturnFields.description"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="status"
                size="sm"
                required
                disabled
                placeholder="Released"
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
          <b-row>
            <b-col>
              
            </b-col>
            <b-col>
              <small class="ml-1">Return By</small>
              <b-form-input
                id="returnBy"
                v-model="returnByName"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>
        </b-card>

       <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="returnCheckDocs()"
          style="font-size:13px"
          class="button"
        >
          Save
        </b-button>
      </template>
    </b-modal>

    <!-- release cheque details -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-releaseChequeDetails"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Cheque Release Details
        </h6>
      </template>

      <b-card bg-variant="light">
          <b-row>
            <b-col cols="6">
              <small class="ml-1">Released By</small>
              <b-form-input
                id="releasedBy"
                v-model="releaseDetails.releasedByName"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Released To</small>
              <b-form-input
                id="releasedTo"
                v-model="releaseDetails.releasedTo"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <small class="ml-1">Released To E-mail</small>
              <b-form-input
                id="releasedToEmail"
                v-model="releaseDetails.releasedToEmail"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Released To Contact Number</small>
              <b-form-input
                id="releasedToContactNumber"
                v-model="releaseDetails.releasedToContactNumber"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>          
          </b-row>

          <b-row>
            <b-col>
              <small class="ml-1">Release Description</small>
              <b-form-input
                id="releaseDescription"
                v-model="releaseDetails.releaseDescription"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>         
          </b-row>
        </b-card>

      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="postRelease()"
          style="font-size:13px"
          class="button"
        >Save
        </b-button>
      </template>
    </b-modal>

    <!-- confirm release modal -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-postRelease"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Release Cheque
        </h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Release' this cheque?
      </div>

       <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >No
        </b-button>

        <b-button
          size="sm"
          variant="success"
          @click="confirmReleaseCheque()"
          style="font-size:13px"
          class="button"
        >Yes
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from 'vuex';

export default {
  components: {
    DateRangePicker
  },
  created(){
    this.userDetails = JSON.parse(localStorage.userDetails);
    this.userGroup = JSON.parse(localStorage.userGroup);
  },
  data() {
    return {
      userDetails: null,
      userGroup: null,
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      releaseDetails: {
        releaseDescription: null,
        releasedTo: null,
        releasedToEmail: null,
        releasedToContactNumber: null,
        checkId: null,
        releasedBy: null,
        releasedByName: null
      },
      fields: [
        {
          key: "checkNumber",
          label: "Cheque No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "createdBy",
          label: "Created By",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "creationDate",
          label: "Creation Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "voucher",
          label: "Voucher No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "payee",
          label: "Payee",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "paymentDate",
          label: "Payment Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "maturityDate",
          label: "Maturity Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "checkAmount",
          label: "Cheque Amount",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "accountName",
          label: "Bank",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "status",
          label: "Status",
          sortable: false
        },

        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      returnByName: null,
      checkDocsReturnFields: {
        returnedBy: null,
        returnTo: null,
        description: null,
        controlCount: null,
        controlAmount: null,
        groupCode: null,
        checks: []
      },
      selectedTransmitterGroup: null,
    };
  },
  computed: {
    ...mapGetters({
      receivedChecks: 'transaction/getReleaseTableMainData',
      transmitterGroupsData: 'transmitter/getTransmitterGroupsData',
      transmitterList: 'transmitter/getTransmitterListData'
    }),

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
      });
    },

    rows() {
      return this.receivedChecks.length
    },
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.receivedChecks.length;
  },

  methods: {
    rowSelected(items){
      try {
        const selectedItemArr = [];
        this.checkDocsReturnFields.controlCount = null;
        this.checkDocsReturnFields.controlAmount = null;

        for (let i = 0; i < items.length; i++) {
          const selectedItem = {
            id: items[i].id,
            checkNumber: items[i].checkNumber
          };
          selectedItemArr.push(selectedItem);
          this.checkDocsReturnFields.controlAmount += items[i].checkAmount;
        };
        this.checkDocsReturnFields.checks = selectedItemArr;
        this.checkDocsReturnFields.controlCount = selectedItemArr.length;
      } catch (err) {
        console.log(err);
      }
    },

    // rowClicked(items){
    //   console.log(items)
    //   if(items.status === "received"){

    //     alert('cant return unreleased checks')
    //   }
    // }, 
    
    formatDate(date){
      return moment(date).format("DD MMMM, YYYY")
    },

    toSentenceCase(str){
      return str.charAt(0).toUpperCase().concat(str.slice(1, str.length));
    },

    getDaysRemaining(date){
      const currentDate = moment();
      const creationDate = moment(date);
      
      return currentDate.diff(creationDate, 'days');
    },

    getMaxDays(creationDate, maturityDate){
      const _creationDate = moment(creationDate);
      const _maturityDate = moment(maturityDate);
      return _maturityDate.diff(_creationDate, 'days')
    },

    chequeReleaseDetails(checkId) {
      this.releaseDetails.releasedBy = this.userDetails.id;
      this.releaseDetails.releasedByName = this.userDetails.firstname + " " + this.userDetails.lastname;
      this.releaseDetails.checkId = checkId;
      this.$bvModal.show("bv-modal-releaseChequeDetails");
    },

    postRelease() {
      this.$bvModal.show("bv-modal-postRelease");
    },

    confirmReleaseCheque(i){
      this.$store.dispatch("transaction/releaseCheck", {
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        releaseDetails: this.releaseDetails
      })
      this.receivedChecks.splice(i,1);
      this.$bvModal.hide("bv-modal-postRelease");
    },

    returnCheckDocs(){
      this.checkDocsReturnFields.returnedBy = this.userDetails.id;
      this.checkDocsReturnFields.groupCode = this.userGroup.groupCode;
      
      this.$store.dispatch('transaction/returnCheckDocs', {
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        checkDocsReturnFields: this.checkDocsReturnFields
      });

      this.$bvModal.hide("bv-modal-returnDocs");
    },

    returnDocs() {
      this.returnByName = this.userDetails.firstname + " " + this.userDetails.lastname
      if(!this.checkDocsReturnFields.checks.length){
        alert('no checks selected');
        return;
      }
      this.$store.dispatch("transmitter/fetchTransmitterGroups", {
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token
      });
      this.$bvModal.show("bv-modal-returnDocs");
    },

    selectTransmitter(){
      const groupId = this.selectedTransmitterGroup;

      this.$store.dispatch('transmitter/fetchTransmitters', {
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        id: groupId
      });
    },
    
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getActivityLogs();
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },
  beforeCreate(){
    this.$store.dispatch('transaction/fetchReleaseTableMainData', {
      user_id: JSON.parse(localStorage.userDetails).id,
      user_actions: JSON.parse(localStorage.accessRights),
      token: localStorage.token
    });

  }
};
</script>

<style>
.button-circle {
  font-size: 75%; 
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}

.button-sq {
  font-size: 75%; 
  border: 0px;
  background: #00a651;
  border:0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}

.table {
  overflow-y:hidden;
  font-size: 75%;
}

.transfer {
  width: 50%;
  height: 50%;
}

.form {
  font-size:13px;
}

.badge-font-size{
  font-size: 15px
}

.page-item.active .page-link {  
  background-color: #00a651 !important;  
  border-color: #00a651 !important;  
  transition: background-color .3s;
} 

.page-item .page-link {
  color: black
}
</style>
