<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="4" class="my-1" v-show="userActions.searchReturnedCheques">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <!-- DateRange Picker -->
      <b-col lg="5" md="4" sm="12" class="my-1" >
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            ref="picker"
            :opens="opens"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="1" md="4" sm="12"></b-col>

      <b-col cols="3" lg="2" sm="12" class="my-1" align="right" >
        <b-button id="transfer" size="md" @click="makeReturnReceipt()" class="button-sq mr-1">Make Return Receipt
           <!-- <font-awesome-icon icon="angle-double-right" /> -->
        </b-button>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <div v-show="userActions.viewReturnedCheques">
      <b-table
        class="table"
        id="return-table"
        style="font-size:13px"
        scrollable
        responsive
        :filter="filter"
        show-empty
        empty-text="There are no transactions to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="returnMainTableData"
        :fields="returnMainTableFields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(name)="row">
          {{ row.value.first }} {{ row.value.last }}
        </template>

        <template v-slot:cell(transactionDate)="row">
          {{ formatDate(row.item.transactionDate) }}
        </template>

        <template v-slot:cell(status)="row">
          <div class="badge-font-size" v-if="row.item.checkStatus === 'returned'">
            <b-badge pill style="background-color:#008080">Returning</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill style="background-color: #3CB371">Returned</b-badge>
          </div>
        </template>
        
        <template v-slot:cell(actions)="row">
          <div>
            <b-button v-if="row.item.checkStatus == 'returned'" size="sm" @click="receiveReturnDocs(row.item.id)" class="button-circle" style="background-color: #E27429" v-b-tooltip.hover title="Receive">
              <font-awesome-icon icon="folder-open" />
            </b-button>
          </div>
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">
                {{ key }}: {{ value }}
              </li>
            </ul>
          </b-card>
        </template>
      </b-table>
    </div>

    <hr />

    <!-- table footer -->
    <b-row align-h="end" class="mt-3">
      <b-col cols="2" class="my-1">
        <b-form-group
          label-cols-sm="6"
          label-cols-md="2"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0 mr-2"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
            style="font-size: 10px"
          ></b-form-select>
        </b-form-group>
      </b-col>&nbsp;

      <b-col cols="1" offset="1" class="my-1">
        <b-pagination
          id="pagination"
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>
    </b-row>
    
    <!-- RECEIVE RETURNING CHEQUES DOCS -->
    <b-modal
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-receiveReturningDocs"
      class="modal-xl"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h5>Receive Return Cheque Docs</h5>
      </template>
        
      <b-row>
        <b-col>
          <h6 class="mb-3">Transaction Details</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>
            <b-col>
              <small class="ml-1">Return No.</small>
              <b-form-input
                id="return-no"
                v-model="returnTransactionDetails.details.returnNumber"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Releaser Group</small>
              <b-form-input 
                size="sm" 
                style="font-size:10px" 
                v-model="releaserGroup" 
                id="releaserGroup"
                disabled
                required
                ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Return Date</small>
              <b-form-input
                id="returnDate"
                v-model="computedFormatDate"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="returnTransactionDetails.details.actualCount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Organization</small>
              <b-form-input
                id="organization"
                v-model="organization"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="returnTransactionDetails.details.actualAmount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Receive From</small>
              <b-form-input
                id="receiveFrom"
                v-model="returnTransactionDetails.details.returnedBy"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="returnTransactionDetails.details.isPosted"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Description</small>
              <b-form-input
                id="description"
                v-model="returnTransactionDetails.details.description"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <!-- END OF TRANSACTION DETAILS -->

        <div style="width:2px;background:#c2c2c2;"></div>

        <b-col>
          <h6 class="mb-3">List of Cheques</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>      
            <b-col cols="6" >
                <b-input-group size="sm">
                  <b-form-input
                    v-model="filterCheque"
                    type="search"
                    id="filterInput"
                    placeholder="Search"
                  >
                  </b-form-input>
                  <b-input-group-append>
                    <b-button size="sm" id="filter" :disabled="!filter" @click="filterCheque = ''">Clear</b-button>
                  </b-input-group-append>&nbsp;
                </b-input-group>
              </b-col>

              <!-- DateRange Picker -->
              <b-col cols="6" lg-6>
                <b-input-group size="sm" prepend="Date">
                  <date-range-picker
                    id="date-range"
                    ref="picker"
                    :opens="opens"
                    :locale-data="localeData"
                    :autoApply="true"
                    :singleDatePicker="false"
                    :showWeekNumbers="true"
                    v-model="datePicker"
                    @update="updateValues"
                  >
                    <div
                      slot="input"
                      style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
                  </date-range-picker>
                  <b-input-group-append>
                    <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-col>
            </b-row>

            <br/>

            <b-row>
              <b-col cols="12">
                <b-table
                  class="my-table"
                  id="modalTransfer-table"
                  style="font-size:13px; background-color: #fff"
                  ref="selectableTable"
                  scrollable="true"
                  selectedVariant="success"
                  headVariant="light"
                  empty-text="There are no cheques to display"
                  :empty-filtered-text="`No search for ${filterCheque} `"
                  :filter="filterCheque"
                  :items="returnTransactionDetails.checks"
                  :fields="fieldsModal" 
                  :tbody-tr-class="rowClass"
                  no-border-collapse
                  show-empty 
                  sticky-header
                  responsive      
                >
                  <template v-slot:cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                  </template>

                  <template slot="index" id="select-item" slot-scope="data">
                    <b-form-checkbox name="selected-items" v-model="selectedItems" :value="data.item"></b-form-checkbox>
                  </template>

                  <template v-slot:cell(creationDate)="row">
                    {{ formatDate(row.item.creationDate) }}
                  </template>

                  <template v-slot:cell(paymentDate)="row">
                    {{ formatDate(row.item.paymentDate) }}
                  </template>

                  <template v-slot:cell(maturityDate)="row">
                    {{ formatDate(row.item.maturityDate) }}
                  </template>

                  <template v-slot:row-details="row">
                    <b-card>
                      <ul>
                        <li v-for="(value, key) in row.item" :key="key">
                          {{ key }}: {{ value }}
                        </li>
                      </ul>
                    </b-card>
                  </template>
                </b-table>
              </b-col>
            </b-row>
            </b-card>
          </b-col>
        </b-row>
  
        <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >Cancel
        </b-button>

        <b-button
          size="sm"
          variant="success"
          @click="saveReturnDocs(returnTransactionDetails)"
          style="font-size:13px"
          class="button"
        >Receive
        </b-button>

        <b-button
          size="sm"
          variant="danger"
          @click="denyReturnDocs()"
          style="font-size:13px"
          class="button"
        >Deny
        </b-button>
      </template>
    </b-modal>


    <!-- MAKE RETURN RECEIPT MODAL -->
    <b-modal
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-makeReturnReceipt"
      class="modal-xl"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h5>Make Return Receipt</h5>
      </template>
        
      <b-row>
        <b-col>
          <h6 class="mb-3">Receipt Details</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>
            <b-col>
              <small class="ml-1">Return No.</small>
              <b-form-select
                id="return-no"
                v-model="selectedReturnNumber"
                size="sm"
                required
                style="font-size:10px"
                @change="getReturnTransactionDetails()"
              >
                <option :value="null" disabled>Select Return Number</option>
                <option :value="num.id" v-for="(num, i) in returnNumbers" :key="i">{{ num.returnNumber }}</option>
              </b-form-select>
            </b-col>
            <b-col>
              <small class="ml-1">Description</small>
              <b-form-input
                id="description"
                v-model="returnTransactionFields.description"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Return Date</small>
              <b-form-input
                id="return-date"
                v-model="computedFormatDate"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Count</small>
              <b-form-input
                id="controlCount"
                v-model="returnTransactionFields.controlCount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Receipt Date</small>
              <b-form-input
                id="receiptDate"
                v-model="receiptDate"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Amount</small>
              <b-form-input
                id="controlAmount"
                v-model="returnTransactionFields.controlAmount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Receipt No.</small>
              <b-form-input
                id="receiptNo"
                v-model="receiptNo"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="returnTransactionDetails.details.actualCount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Receive From</small>
              <b-form-input
                id="receiveFrom"
                v-model="returnTransactionDetails.details.returnedByName"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="returnTransactionDetails.details.actualAmount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Received By</small>
              <b-form-input
                id="receiveBy"
                v-model="receivedBy"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Organization</small>
              <b-form-input
                id="organization"
                v-model="organization"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmitter Group</small>
              <b-form-input 
                size="sm" 
                style="font-size:10px" 
                v-model="transmittingGroup" 
                id="transmittingGroup"
                disabled
                required
                >
              </b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="status"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
      <!-- END OF TRANSACTION DETAILS -->

        <div style="width:2px;background:#c2c2c2;"></div>

        <b-col>
          <h6 class="mb-3">List of Cheques</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>      
            <b-col cols="6" >
                <b-input-group size="sm">
                  <b-form-input
                    v-model="filterCheque"
                    type="search"
                    id="filterInput"
                    placeholder="Search"
                  >
                  </b-form-input>
                  <b-input-group-append>
                    <b-button size="sm" id="filter" :disabled="!filter" @click="filterCheque = ''">Clear</b-button>
                  </b-input-group-append>&nbsp;
                </b-input-group>
              </b-col>

              <!-- DateRange Picker -->
              <b-col cols="6" lg-6>
                <b-input-group size="sm" prepend="Date">
                  <date-range-picker
                    id="date-range"
                    ref="picker"
                    :opens="opens"
                    :locale-data="localeData"
                    :autoApply="true"
                    :singleDatePicker="false"
                    :showWeekNumbers="true"
                    v-model="datePicker"
                    @update="updateValues"
                  >
                    <div
                      slot="input"
                      style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
                  </date-range-picker>
                  <b-input-group-append>
                    <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-col>
            </b-row>

            <b-form-checkbox
              class="mt-4 mb-2"
              @change="selectAll"
              :disabled="returnTransactionDetails.checks.length === 0"
              :checked="selectedItems.length === returnTransactionDetails.checks.length && returnTransactionDetails.checks.length !== 0"
            >Select All</b-form-checkbox>

            <b-row>
              <b-col cols="12">
                <b-table
                  class="my-table"
                  id="modalTransfer-table"
                  style="font-size:13px; background-color: #fff"
                  ref="selectableTable"
                  scrollable="true"
                  selectedVariant="success"
                  headVariant="light"
                  empty-text="There are no cheques to display"
                  :empty-filtered-text="`No search for ${filterCheque} `"
                  :filter="filterCheque"
                  :items="returnTransactionDetails.checks"
                  :fields="fieldsModal" 
                  :tbody-tr-class="rowClass"
                  no-border-collapse
                  show-empty 
                  sticky-header
                  selectable
                  responsive     
                  @row-selected="rowSelected" 
                >
                  <template v-slot:cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                  </template>

                  <template slot="index" id="select-item" slot-scope="data">
                    <b-form-checkbox name="selected-items" v-model="returnTransactionFields.checks" :value="data.item"></b-form-checkbox>
                  </template>

                  <template v-slot:cell(creationDate)="row">
                    {{ formatDate(row.item.creationDate) }}
                  </template>

                  <template v-slot:cell(paymentDate)="row">
                    {{ formatDate(row.item.paymentDate) }}
                  </template>

                  <template v-slot:cell(maturityDate)="row">
                    {{ formatDate(row.item.maturityDate) }}
                  </template>

                  <template v-slot:row-details="row">
                    <b-card>
                      <ul>
                        <li v-for="(value, key) in row.item" :key="key">
                          {{ key }}: {{ value }}
                        </li>
                      </ul>
                    </b-card>
                  </template>
                </b-table>
              </b-col>
            </b-row>
            </b-card>
          </b-col>
        </b-row>
  
        <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >Cancel
        </b-button>

        <b-button
          size="sm"
          variant="success"
          @click="saveReturnReceipt()"
          style="font-size:13px"
          class="button"
        >Save and Post
        </b-button>
      </template>
    </b-modal>

    <!-- post modal -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-postReturnChequeDocs"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Post Transaction
        </h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Post' this transaction?
      </div>

       <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >No
        </b-button>

        <b-button
          size="sm"
          variant="success"
          @click="confirmReturnChequeDocs()"
          style="font-size:13px"
          class="button"
        >Yes
        </b-button>
      </template>
    </b-modal>

    <!-- unpost modal -->
    <b-modal
      size="md"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-unpostReturn"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Unpost Transaction Details
        </h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Unpost' this transaction?
      </div>

      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          No
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="save()"
          style="font-size:13px"
          class="button"
        >
          Yes
        </b-button>
      </template>
    </b-modal>

  </b-container>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from 'vuex'

export default {
  components: {
    DateRangePicker
  },

  // Access Rights
  created(){
    const user_actions = JSON.parse(localStorage.accessRights)["transactionModule"];

    if(user_actions.find(action => action.description === "View Returned Cheques")){
      this.userActions.viewReturnedCheques = true;
    };

    if(user_actions.find(action => action.description === "Search for Returned Cheques")){
      this.userActions.searchReturnedCheques = true;
    };

    if(user_actions.find(action => action.description === "Make Return Receipt")){
      this.userActions.makeReturnReceipt = true;
    };

    const user_details = JSON.parse(localStorage.userDetails);
    const user_group = JSON.parse(localStorage.userGroup);
      this.currentUserId = user_details.id;
      this.userDetails.id = user_details.id;
      this.receivedBy = `${user_details.firstname} ${user_details.lastname}`;
      this.returnTransactionFields.receivedBy = user_details.id;
      this.transmittingGroup = user_group.groupDesc;
  },
  // End of Access Rights

  data() {
    return {
      userActions: {
        viewReturnedCheques: false,
        searchReturnedCheques: false,
        makeReturnReceipt: false
      },
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      selectedItems: [],

      userDetails: {
        id: null
      },

      fieldsModal: [
        {
          key: "checkNumber",
          label: "Cheque No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "createdBy",
          label: "Created By",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "creationDate",
          label: "Creation Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "voucherNo",
          label: "Voucher No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "payee",
          label: "Payee",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "paymentDate",
          label: "Payment Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "maturityDate",
          label: "Maturity Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "checkAmount",
          label: "Cheque Amount",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "accountName",
          label: "Bank",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },
      ],
      
      returnMainTableFields: [
        {
          key: "transactionNumber",
          label: "Transaction No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "transactionDate",
          label: "Transaction Date",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlCount",
          label: "Control Count",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlAmount",
          label: "Control Amount",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "status",
          label: "Status",
          sortable: false
        },

        { key: "actions", label: "Actions" }
      ],

      returnTransactionFields: {
        groupCode: null,
        controlCount: 0,
        controlAmount: 0,
        description: null,
        receivedFrom: null,
        receivedBy: null,
        checks: []
      },

      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterCheque: null,
      filterOn: [],
      selectedMainTableRow: null,
      selectedReturnNumber: null,
      user_groups: "",
      groupDesc: "",
      transmittingGroup: null,
    };
  },
  computed: {
    ...mapGetters({
      returnMainTableData: 'transaction/getReturnMainTableData',
      returnTransactionDetails: 'transaction/getReturnTransactionDetails',
      returnNumbers: 'transaction/getReceivedTransactionNumbers',
    }),

    sortOptions() {
      // Create an options list from our fields
      return this.returnMainTableFields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
      });
    },

    rows() {
      return this.returnMainTableData.length
    },

    computedFormatDate(){
      if(this.returnTransactionDetails.details.returnDate)
        return moment(this.returnTransactionDetails.details.returnDate).format("DD MMMM, YYYY")
    },
    
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.returnMainTableData ? this.returnMainTableData.length : 0;
  },
  methods: {

    formatDate(date){
      return moment(date).format("DD MMMM, YYYY")
    },

    rowSelected(items){
      try {
        const selectedItemArr = [];
        this.returnTransactionFields.controlCount = null;
        this.returnTransactionFields.controlAmount = null;

        for (let i = 0; i < items.length; i++) {
          const selectedItem = {
            id: items[i].id,
            checkNumber: items[i].checkNumber
          };
          selectedItemArr.push(selectedItem);
          this.returnTransactionFields.controlAmount += items[i].checkAmount;
        };
        this.returnTransactionFields.checks = selectedItemArr;
        this.returnTransactionFields.controlCount = selectedItemArr.length;
      } catch (err) {}
    },

    selectAllRows() {
      this.$refs.selectableTable.selectAllRows()
    },

    selectAll() {
      this.returnTransactionFields.controlCount = null;
      this.returnTransactionFields.controlAmount = null;
      
      if (this.returnTransactionFields.checks.length === this.returnTransactionDetails.checks.length) {
        this.returnTransactionFields.checks = [];
      } else {

        this.returnTransactionFields.checks = this.returnTransactionDetails.checks.slice();

        for (let i = 0; i < this.returnTransactionFields.checks.length; i++) {
          this.returnTransactionFields.controlAmount += this.returnTransactionFields.checks[i].checkAmount;
        };

        this.returnTransactionFields.controlCount = this.returnTransactionFields.checks.length;

      }
    },

    rowClass(item, type) {
      return this.returnTransactionFields.checks.indexOf(item) > -1 ? "table-success" : "";
    },
    
    transfer() {
      this.$bvModal.show("bv-modal-return");
    },

    receiveReturnDocs(id) {
      this.selectedMainTableRow = id;
      const transactionId = id;

      this.$store.dispatch("transaction/resetTransmit");

      this.$store.dispatch("transaction/fetchReturnTransactionDetails",{
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transactionId
      });

      this.$bvModal.show("bv-modal-receiveReturningDocs");
    },

    makeReturnReceipt() {

      this.$store.dispatch("transaction/fetchReceivedTransactionNumbers",{
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transaction: 'docsReturnTransactions'
      });

      this.$bvModal.show("bv-modal-makeReturnReceipt");
    },

    async getReturnTransactionDetails(){
      const transactionId = this.selectedReturnNumber
      this.$store.dispatch("transaction/fetchReturnTransactionDetails",{
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transactionId
      });
    },

    saveReturnReceipt() {
      this.$bvModal.show("bv-modal-postReturnChequeDocs");
    },

    confirmReturnChequeDocs() {
      console.log("arwtdfyutafduyefsgdus", this.returnTransactionFields)
      // this.$store.dispatch("transaction/makeReturnReceiptTransaction", {
      //   user_id: JSON.parse(localStorage.userDetails).userGroup,
      //   user_actions: JSON.parse(localStorage.accessRights),
      //   token: localStorage.token,
      //   returnTransactionFields: this.returnTransactionFields
      // })
      this.$bvModal.hide("bv-modal-postReturnChequeDocs");
      this.$bvModal.hide("bv-modal-makeReturnReceipt")
    },

    denyReturnDocs() {
      this.$bvModal.show("bv-modal-denyReturn");
    },
    
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getActivityLogs();
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    saveReturnDocs(i){
      const receivedBy = this.userDetails.id
      this.returnMainTableData.splice(i, 1)

      this.$store.dispatch("transaction/receiveReturningTransaction", {
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transactionId: i.details.id,
        receivedBy
      });
      this.$bvModal.hide("bv-modal-receiveReturningDocs");
    }
  },

  beforeCreate(){
    this.$store.dispatch('transaction/fetchReturnMainTableData', {
      user_id: JSON.parse(localStorage.userDetails).id,
      user_actions: JSON.parse(localStorage.accessRights),
      token: localStorage.token
    })
  }
};
</script>

<style>
.button-circle {
  font-size: 75%; 
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}

.button-sq {
  font-size: 75%; 
  border: 0px;
  background: #00a651;
  border:0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}

.my-table {
  overflow-y:auto;
  font-size: 75%;
  max-height:240px;
}

.modal-xl {
  max-width: 90% !important;
}

.return {
  width: 50%;
  height: 50%;
}

.form {
  font-size:13px;
}

.badge-font-size{
  font-size: 15px
}

.page-item.active .page-link {  
  background-color: #00a651 !important;  
  border-color: #00a651 !important;  
  transition: background-color .3s;
} 

.page-item .page-link {
  color: black
}
</style>
