<template>
  <b-container fluid>
    <!-- USER INTERFACE CONTROLS -->
    <b-row>
      
      <!-- SEARCH BAR -->
      <b-col lg="4" class="my-1" v-show="userActions.searchTransferredCheques">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="search"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <!-- END OF SEARCH BAR -->

      <!-- DATERANGE PICKER -->
      <b-col lg="5" md="4" sm="12" class="my-1">
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            id="date-range"
            ref="picker"
            :opens="opens"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div slot="input" style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="1" md="4" sm="12"></b-col>

      <b-col cols="3" lg="2" sm="12" class="my-1" align="right" >
        <b-button id="transfer" size="md" @click="transfer" class="button-sq mr-1">Create Transaction
           <font-awesome-icon icon="angle-double-right" />
        </b-button>
      </b-col>
    </b-row>
    <!-- END OF DATERANGE PICKER -->

    <!-- MAIN TABLE -->
      <!-- TABLE CONTENT/BODY -->
      <div v-show="userActions.viewTransferredCheques">
        <b-table
          class="table"
          id="transfer-table"
          style="font-size:13px"
          scrollable
          responsive
          :filter="filter"
          show-empty
          empty-text="There are no transactions to display"
          :empty-filtered-text="`No search for ${filter} `"
          :items="transferData"
          :fields="transferredFields"
          :per-page="perPage"
          :current-page="currentPage"
        >
          <template v-slot:cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
          </template>
          
          <template v-slot:cell(transferDate)="row">
            {{ formatDate(row.item.transferDate) }}
          </template>

          <template v-slot:cell(status)="row">
            <div class="badge-font-size" v-if="row.item.isPosted && row.item.receivedBy">
              <b-badge pill variant="danger" value="Transferring">Transferred</b-badge>
            </div>
            <div class="badge-font-size" v-else-if="row.item.isPosted">
              <b-badge pill variant="danger" value="Transferring">Transferring</b-badge>
            </div>
          </template>

          <template v-slot:cell(actions)="row">
            <b-button id="unpost" v-if="row.item.isPosted" size="sm" @click="unpost(row.item)" class="button-circle" variant="danger" v-b-tooltip.hover title="Unpost">
              <font-awesome-icon icon="unlock"/>
            </b-button>   
          </template>

          <template v-slot:row-details="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </b-card>
          </template>

        </b-table>
      </div>
      <!-- END OF TABLE CONTENT/BODY -->

      <hr />

      <!-- TABLE FOOTER -->
      <div>
        <b-row align-h="end" class="mt-3">
          <!-- ITEMS PER PAGE -->
          <b-col cols="2" class="my-1 mt-3">
            <b-form-group
              label-cols-sm="6"
              label-cols-md="2"
              label-cols-lg="3"
              label-align-sm="right"
              label-size="sm"
              label-for="perPageSelect"
              class="mb-0 mr-2"
            >
              <b-form-select
                v-model="perPage"
                id="perPageSelect"
                size="sm"
                style="font-size: 10px"
                :options="pageOptions"
              ></b-form-select>
            </b-form-group>
          </b-col>&nbsp;
          <!-- END OF ITEMS PER PAGE -->

          <!-- PAGINATION -->
          <b-col cols="1" offset="1" class="my-1 mt-3">
            <b-pagination
              id="pagination"
              pills
              v-model="currentPage"
              :total-rows="rows"
              :per-page="perPage"
              align="right"
              size="sm"
            ></b-pagination>
          </b-col>
          <!-- END OF PAGINATION -->
        </b-row>
      <!-- END OF TABLE FOOTER -->
    </div>

    <!-- CREATE TRANSACTION MODAL -->
    <b-modal
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-transfer"
      class="modal-xl"
      no-close-on-backdrop
    >
    
      <template v-slot:modal-title>
        <h5>Create Transaction</h5>
      </template>

      <!-- TRANSACTION DETAILS --> 
      <b-row>
        <b-col v-show="userActions.addDetails">
          <h6 class="mb-3">Transaction Details</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>
            <b-col>
              <small class="ml-1">Organization</small>
              <b-form-select size="sm" style="font-size:10px" v-model="organization" id="organization">
                <option :value="``">KCC Property Holdings, Inc.</option>
              </b-form-select>
            </b-col>
            <b-col>
              <small class="ml-1">Control Count</small>
              <b-form-input
                id="controlCount"
                v-model="transactionFields.controlCount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transfer No.</small>
              <b-form-input
                id="transfer-no"
                v-model="transactionFields.transferNumber"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Amount</small>
              <b-form-input
                id="controlAmnt"
                v-model="transactionFields.controlAmount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmitter Group</small>
              <b-form-select 
                size="sm" 
                style="font-size:10px" 
                v-model="selectedTransmitterGroup" 
                id="transmitter-group"
                @change="selectTransmitter()"
                required
                >
                <option :value="null" disabled>Select transmitter group</option>
                <option :value="group.id" v-for="(group, i) in transmitterGroupsData" :key="i">{{ group.groupDesc }} ({{ group.groupCode}})</option>
              </b-form-select>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="actualCount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmitter</small>
              <b-form-select 
                required 
                size="sm"
                style="font-size:10px" 
                v-model="transactionFields.transmitter" 
                :options="transmitters" 
                id="transmitter" 
              >
                <!-- <option :value="null" disabled >Select transmitter</option> -->
              </b-form-select>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="actualAmount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Writer Group</small>
              <b-form-input
                id="receive-by"
                v-model="writerGroup"
                size="sm"
                disabled
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Transfer Date</small>
              <b-form-input
                id="transferDate"
                v-model="transferDate"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transferred By</small>
              <b-form-input
                id="transferBy"
                v-model="transferBy"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="status"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Description</small>
              <b-form-input
                id="description"
                v-model="transactionFields.description"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          </b-card>
        </b-col>
        <!-- END OF TRANSACTION DETAILS -->

        <div style="width:2px;background:#c2c2c2;"></div>
      
        <b-col v-show="userActions.viewToTransfer">
          <h6 class="mb-3">List of Cheques</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>  
            <b-col cols="5" lg-9 v-show="userActions.searchToTransfer"> 
              <b-input-group size="sm">
                <b-form-input
                  v-model="filterCheque"
                  type="search"
                  id="filterInput"
                  placeholder="Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button size="sm" id="filter" :disabled="!filterCheque" @click="filterCheque = ''">Clear</b-button>
                </b-input-group-append>&nbsp;
              </b-input-group>   
            </b-col>

              <!-- DateRange Picker -->
              <b-col style="position: absolute; margin-left: 20rem" cols="7" lg-6>
                <b-input-group size="sm" prepend="Creation Date">
                  <date-range-picker
                    id="date-range"
                    ref="picker"
                    :opens="opens"
                    :locale-data="localeData"
                    :autoApply="true"
                    :singleDatePicker="false"
                    :showWeekNumbers="true"
                    v-model="datePicker"
                    @update="updateValues"
                  >
                    <div
                      slot="input"
                      style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}
                    </div>
                  </date-range-picker>
                  <b-input-group-append>
                    <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-col>
            </b-row>

            <b-form-checkbox
              class="mt-4 mb-2"
              @change="selectAll"
              :disabled="transferModalData.length === 0"
              :checked="selectedItems.length === transferModalData.length && transferModalData.length !== 0"
            >Select All</b-form-checkbox>

            <b-row>
              <b-col cols="12">
                <b-table
                  class="my-table"
                  id="modalTransfer-table"
                  style="font-size:13px; background-color: #fff"
                  ref="selectableTable"
                  scrollable="true"
                  selectedVariant="success"
                  headVariant="light"
                  empty-text="There are no cheques to display"
                  :empty-filtered-text="`No search for ${filterCheque} `"
                  :filter="filterCheque"
                  :items="transferModalData"
                  :fields="accountsPayableFields" 
                  :tbody-tr-class="rowClass"
                  no-border-collapse
                  show-empty 
                  sticky-header
                  selectable
                  @row-selected="rowSelected"
                  responsive      
                >
                  <template v-slot:cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                  </template>

                  <template v-slot:cell(creationDate)="row">
                    {{ formatDate(row.item.creationDate) }}
                  </template>

                  <template v-slot:cell(paymentDate)="row">
                    {{ formatDate(row.item.paymentDate) }}
                  </template>

                  <template v-slot:cell(maturityDate)="row">
                    {{ formatDate(row.item.maturityDate) }}
                  </template>

                  <template slot="index" id="select-item" slot-scope="data">
                    <b-form-checkbox name="selected-items" v-model="transactionFields.checks" :value="data.item"></b-form-checkbox>
                  </template>

                  <template v-slot:row-details="row">
                    <b-card>
                      <ul>
                        <li v-for="(value, key) in row.item" :key="key">
                          {{ key }}: {{ value }}
                        </li>
                      </ul>
                    </b-card>
                  </template>
                </b-table>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>

      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="saveTransfer()"
          style="font-size:13px"
          class="button"
        >
          Save
        </b-button>
      </template>
    </b-modal>

    <!-- confirmation modal before saving and post -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-post"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>Post Transaction</h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Post' this transaction?
      </div>

       <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >No
        </b-button>

        <b-button
          size="sm"
          variant="success"
          @click="savePost()"
          style="font-size:13px"
          class="button"
        >Yes
        </b-button>
      </template>
    </b-modal>

    <!-- unpost modal -->
    <b-modal
      size="md"
      header-bg-variant="danger"
      header-text-variant="light"
      id="bv-modal-unpost"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Unpost Transaction Details
        </h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Unpost' this transaction?
      </div>

      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          No
        </b-button>
        <b-button
          size="sm"
          variant="danger"
          @click="save()"
          style="font-size:13px"
          class="button"
        >
          Yes
        </b-button>
      </template>
    </b-modal>

  </b-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from 'vuex';
import VModal from 'vue-js-modal';

export default {
  components: {
    DateRangePicker,
    VModal
  },
  
  // Access Rights
  created(){
    this.token = localStorage.token;
    const user_actions = JSON.parse(localStorage.accessRights)["transactionModule"];

    if(user_actions.find(action => action.description === "Add details of Cheque to Transfer")){
      this.userActions.addDetails = true;
    };

    if(user_actions.find(action => action.description === "View Cheques to Transfer")){
      this.userActions.viewToTransfer = true;
    };

    if(user_actions.find(action => action.description === "Search Cheques to Transfer")){
      this.userActions.searchToTransfer = true;
    };

    if(user_actions.find(action => action.description === "View Transferred Cheques")){
      this.userActions.viewTransferredCheques = true;
    };

    if(user_actions.find(action => action.description === "View Transferred Cheques")){
      this.userActions.searchTransferredCheques = true;
    };

    const user_details = JSON.parse(localStorage.userDetails);
    const user_group = JSON.parse(localStorage.userGroup);
      this.transferBy = `${user_details.firstname} ${user_details.lastname}`;
      this.transactionFields.transferredBy = user_details.id;
      this.writerGroup = user_group.groupDesc;
      this.transactionFields.groupCode = user_group.groupCode;

  },
  // End of Access Rights

  data() {
    return {
      user_groups: "",
      groupDesc: "",
      selectedTransmitterGroup: null,
      transmitterGroups: [],
      userActions: {
        addDetails: false,
        viewToTransfer: false,
        searchToTransfer: false,
        viewTransferredCheques: false,
        searchTransferredCheques: false
      },
      
      selected: [],
      selectedItems: [],
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      accountsPayableFields: [
        {
          key: "checkNumber",
          label: "Cheque No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "createdBy",
          label: "Created By",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "creationDate",
          label: "Creation Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "voucherNo",
          label: "Voucher No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "payee",
          label: "Payee",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "paymentDate",
          label: "Payment Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "maturityDate",
          label: "Maturity Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "checkAmount",
          label: "Cheque Amount",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "accountName",
          label: "Bank",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },
      ],

      transactionFields:
      {
        transferNumber: null,
        transmitter: null,
        transferredBy: null,
        controlCount: null,
        controlAmount: null,
        groupCode: null,
        description: null,
        checks: []
      },

      transferredFields: [
        {
          key: "transferNumber",
          label: "Transaction No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "transferDate",
          label: "Transaction Date",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlCount",
          label: "Control Count",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlAmount",
          label: "Control Amount",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "status",
          label: "Status",
          sortable: false
        },

        { key: "actions", label: "Actions" }
      ],

      tableRows: "",
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterCheque: null,
      filterOn: [],
      token: "",
      selectedTransmitterGroup: null,

      transferBy: null,
      writerGroup: null,

    };
  },

  computed: {
    ...mapGetters({
      transferData: 'transaction/getTransferData',
      transferModalData: 'transaction/getTransferModalData',
      transmitterGroupsData: 'transmitter/getTransmitterGroupsData',
      transmitters: 'transmitter/getTransmitterListData'
    }),
    
    sortOptions() {
      // Create an options list from our fields
      return this.transferredFields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },

    rows() {      
      return this.transferData.length
    },

  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.transferData ? this.transferData.length : 0;
    this.totalRowsModal = this.transferModalData ? this.transferModalData.length : 0;
  },

  methods: {
    async selectTransmitter(){
      const id = this.selectedTransmitterGroup;
      this.transmitters = [];

      await axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/user/user-group/${id}`,
        headers: {
          Authorization: `Bearer ${this.token}`
        }
      }).then(res => {
        // this.transmitters.push({ value: null, text: 'Select transmitter', disabled: true})
        if(Array.isArray(res.data.fetched)){
          const resultArr = res.data.fetched;
          for (let i = 0; i < resultArr.length; i++) {
            const option = {
              value: resultArr[i].id,
              text: `${resultArr[i].firstname} ${resultArr[i].lastname}`
            };
            
            this.transmitters.push(option)
          }
        }
      }).catch(err => {
        console.log(err.response);
      }); 

    },

    rowSelected(items) {
      try {
        const selectedItemArr = [];
        this.transactionFields.controlCount = null;
        this.transactionFields.controlAmount = null;

        for (let i = 0; i < items.length; i++) {
          const selectedItem = {
            id: items[i].id,
            checkNumber: items[i].checkNumber
          };
          selectedItemArr.push(selectedItem);
          this.transactionFields.controlAmount += items[i].checkAmount;
        };
        this.transactionFields.checks = selectedItemArr;
        this.transactionFields.controlCount = selectedItemArr.length;
      } catch (err) {}
    },

    formatDate(date){
      return moment(date).format("DD MMMM, YYYY")
    },

    savePost(){
      this.$store.dispatch("transaction/createTransaction", {
        user_id: JSON.parse(localStorage.userDetails).userGroup,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transactionFields: this.transactionFields
      });
      this.$bvModal.hide("bv-modal-post");
      this.$bvModal.hide("bv-modal-transfer");
      this.resetForm();
      this.$store.dispatch("transaction/fetchTransferData",{
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token
    });
    },

    resetForm() {
      this.filterCheque = null
      this.transactionFields = {
        transferNumber: null,
        transmitter: null,
        transferredBy: null,
        controlCount: null,
        controlAmount: null,
        description: null,
        checks: [
          {
            checkNumber: null,
            id: null
          }
        ],
      };
    },

    selectAllRows() {
      this.$refs.selectableTable.selectAllRows()
    },

    selectAll() {
      this.transactionFields.controlCount = null;
      this.transactionFields.controlAmount = null;

      if (this.transactionFields.checks.length === this.transferModalData.length) {
        this.transactionFields.checks = [];
      } else {
        this.transactionFields.checks = this.transferModalData.slice();

        for (let i = 0; i < this.transactionFields.checks.length; i++) {
          this.transactionFields.controlAmount += this.transactionFields.checks[i].checkAmount;
        };

        this.transactionFields.controlCount = this.transactionFields.checks.length;

      }
    },

    rowClass(item, type) {
      return this.transactionFields.checks.indexOf(item) > -1 ? "table-success" : "";
    },

    transfer() {
      this.$bvModal.show("bv-modal-transfer");    
    },

    post() {
      this.$bvModal.show("bv-modal-post");
    },

    unpost(data) {
      this.$bvModal.show("bv-modal-unpost");
    },

    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getActivityLogs();
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.currentPage = 1;
    },
    
    saveTransfer(){
      
      this.$bvModal.show("bv-modal-post");
    },
  },
  beforeCreate(){
    this.$store.dispatch("transaction/fetchTransferData",{
      user_actions: JSON.parse(localStorage.accessRights),
      token: localStorage.token
    });

    this.$store.dispatch("transaction/fetchTransferModalData",{
      user_actions: JSON.parse(localStorage.accessRights),
      token: localStorage.token
    });

    this.$store.dispatch("transmitter/fetchTransmitterGroups", {
      user_actions: JSON.parse(localStorage.accessRights),
      token: localStorage.token
    });

  }
};
</script>

<style>
.button-circle {
  font-size: 75%; 
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}

.button-sq {
  font-size: 75%; 
  border: 0px;
  background: #00a651;
  border:0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}

.my-table {
  overflow-y:auto;
  font-size: 75%;
  max-height:240px;
}

.modal-xl {
  max-width: 90% !important;
}

.transfer {
  width: 50%;
  height: 50%;
}

.form {
  font-size:13px;
}

.badge-font-size{
  font-size: 15px
}

.page-item.active .page-link {  
  background-color: #00a651 !important;  
  border-color: #00a651 !important;  
  transition: background-color .3s;
} 

.page-item .page-link {
  color: black
}

.reportrange-text[data-v-8cc9549e] {
  border: 1px solid #ccc;
  height: 2rem;
  font-size: 12px;
}

.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #00a651;
    border-color: transparent;
    color: #fff;
}

</style>
