<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col cols="4" lg="4" class="my-1" v-show="userActions.searchTransmittedCheques || userActions.searchReceivedCheques">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <!-- DateRange Picker -->
      <b-col cols="4" lg="5" md="4" sm="12" class="my-1">
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            ref="picker"
            :opens="opens"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col v-show="userActions.transmitCheque" cols="3" class="my-1" align="right">
        <b-button size="md" @click="transmit()" class="button-sq mr-1">Transmit Transaction
           <font-awesome-icon icon="angle-double-right" />
        </b-button>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <div v-show="userActions.viewTransmittedCheques">
      <b-table
        class="table"
        id="transmit-table"
        style="font-size:13px"
        scrollable
        responsive
        :filter="filter"
        show-empty
        empty-text="There are no transactions to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="transmitMainTableData"
        :fields="transmitMainTableFields"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(name)="row">
          {{ row.value.first }} {{ row.value.last }}
        </template>

        <template v-slot:cell(transactionDate)="row">
          {{ formatDate(row.item.transactionDate) }}
        </template>

        <template v-slot:cell(status)="row">
          <div class="badge-font-size" v-if="row.item.checkStatus === 'transferred'">
            <b-badge pill variant="danger">Transferring</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill style="background-color:#008080">Transmitting</b-badge>
          </div>
        </template>

        <template v-slot:cell(actions)="row">  
          <b-button v-show="userActions.receiveCheque" v-if="row.item.checkStatus == 'transferred'" size="sm" @click="receiveTransmit(row.item.id)" style="background-color:#E27429" class="button-circle" v-b-tooltip.hover title="Receive">
            <font-awesome-icon icon="folder-open" />
          </b-button>
        
          <b-button v-else size="sm" @click="unpostTransmit()" class="button-circle" variant="danger" v-b-tooltip.hover title="Unpost">
            <font-awesome-icon icon="unlock" />
          </b-button>    
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">
                {{ key }}: {{ value }}
              </li>
            </ul>
          </b-card>
        </template>
      </b-table>
    </div>

    <hr />

    <!-- table footer -->
    <b-row align-h="end" class="mt-3">
      <b-col cols="2" class="my-1">
        <b-form-group
          label-cols-sm="6"
          label-cols-md="2"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0 mr-2"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
            style="font-size: 10px"
          ></b-form-select>
        </b-form-group>
      </b-col>&nbsp;

      <b-col cols="1" offset="1" class="my-1">
        <b-pagination
          id="pagination"
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>
    </b-row>

    <!-- RECEIVE MODAL -->
    <b-modal
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-receiveTransmit"
      class="modal-xl"
      scrollable="true"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h5>Receive Transaction</h5>
      </template>
  
      <b-row>
        <b-col v-show="userActions.addDetailsReceive">
          <h6 class="mb-3">Transaction Details</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>
            <b-col>
              <small class="ml-1">Transfer No.</small>
              <b-form-input
                id="transfer-no"
                v-model="receiveTransactionFields.transferNumber"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Count</small>
              <b-form-input
                id="controlCount"
                v-model="receiveTransactionFields.controlCount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transferred By</small>
              <b-form-input
                id="transferredBy"
                v-model="receiveTransactionFields.transferredByName"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Amount</small>
              <b-form-input
                id="controlAmount"
                v-model="receiveTransactionFields.controlAmount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transfer Date</small>
              <b-form-input
                id="transferredBy"
                v-model="receiveTransactionFields.transferDate"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="receiveTransactionFields.actualCount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Organization</small>
              <b-form-input
                id="organization"
                v-model="receiveTransactionFields.organization"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="receiveTransactionFields.actualAmount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Received By</small>
              <b-form-input
                id="transmittalDate"
                v-model="receiveTransactionFields.receivedByName"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="receiveTransactionFields.status"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Description</small>
              <b-form-input
                id="description"
                v-model="receiveTransactionFields.description"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>   
          </b-row>
        </b-card>
      </b-col>

      <div style="width:2px;background:#c2c2c2;"></div>
        <b-col v-show="userActions.viewToReceive">
          <h6 class="mb-3">List of Cheques</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>      
            <b-col cols="6" v-show="userActions.searchToReceive" >
              <b-input-group size="md">
                <b-form-input
                  v-model="filterCheque"
                  placeholder="Search"
                  type="search"
                  id="filterInput"
                  size="sm"
                ></b-form-input>
                <b-input-group-append>
                  <b-button size="sm" id="filter" :disabled="!filter" @click="filterCheque = ''">Clear</b-button>
                </b-input-group-append>&nbsp;
              </b-input-group>
            </b-col>

            <!-- DateRange Picker -->
            <b-col cols="6" lg-6>
              <b-input-group size="sm" prepend="Date">
                <date-range-picker
                  id="date-range"
                  ref="picker"
                  :opens="opens"
                  :locale-data="localeData"
                  :autoApply="true"
                  :singleDatePicker="false"
                  :showWeekNumbers="true"
                  v-model="datePicker"
                  @update="updateValues"
                >
                  <div
                    slot="input"
                    style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
                </date-range-picker>
                <b-input-group-append>
                  <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>
          <br/>
          <b-row>
            <b-col cols="12">
              <b-table
                class="my-table"
                id="modalReceiveTransmit-table"
                style="font-size:13px; background-color: #fff"
                ref="selectableTable"
                scrollable="true"
                selectedVariant="success"
                headVariant="light"
                empty-text="There are no transactions to display"
                :empty-filtered-text="`No search for ${filterCheque} `"
                :filter="filterCheque"
                :items="receiveTransactionFields.checks"
                :fields="fieldsModal" 
                :tbody-tr-class="rowClass"
                no-border-collapse
                show-empty 
                sticky-header
                responsive      
              >
                <template v-slot:cell(name)="row">
                  {{ row.value.first }} {{ row.value.last }}
                </template>

                <template v-slot:cell(creationDate)="row">
                  {{ formatDate(row.item.creationDate) }}
                </template>

                <template v-slot:cell(paymentDate)="row">
                  {{ formatDate(row.item.paymentDate) }}
                </template>

                <template v-slot:cell(maturityDate)="row">
                  {{ formatDate(row.item.maturityDate) }}
                </template>

                <template v-slot:row-details="row">
                  <b-card>
                    <ul>
                      <li v-for="(value, key) in row.item" :key="key">
                        {{ key }}: {{ value }}
                      </li>
                    </ul>
                  </b-card>
                </template>
              </b-table>
            </b-col>
          </b-row>
           </b-card>
        </b-col>
      </b-row>
    
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="saveReceive(receiveTransactionFields)"
          style="font-size:13px"
          class="button"
        >
          Receive
        </b-button>
        <b-button
          size="sm"
          variant="danger"
          @click="denyReceive()"
          style="font-size:13px"
          class="button"
        >
          Deny
        </b-button>
      </template>
    </b-modal>
    <!-- END OF RECEIVE MODAL -->

    <!-- TRANSMIT MODAL -->
    <b-modal
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-transmit"
      class="modal-xl"
      scrollable="true"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h5>Transmit Transaction</h5>
      </template>

      <b-row>
        <b-col v-show="userActions.addDetails">
          <h6 class="mb-3">Transaction Details</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>
            <b-col>
              <small class="ml-1">Transfer No.</small>
              <b-form-select
                id="transfer-no"
                v-model="selectedTransferNumber"
                size="sm"
                required
                style="font-size:10px"
                @change="getTransferTransactionDetails()"
              >
                <option :value="null" disabled>Select Transfer Number</option>
                <option :value="num.id" v-for="(num, i) in transferNumbers" :key="i">{{ num.transferNumber }}</option>
              </b-form-select>
              
            </b-col>
            <b-col>
              <small class="ml-1">Description</small>
              <b-form-input
                id="description"
                v-model="transmitTransactionFields.description"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Organization</small>
              <b-form-input
                id="organization"
                v-model="organization"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Count</small>
              <b-form-input
                id="controlCount"
                v-model="transmitTransactionFields.controlCount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmittal No.</small>
              <b-form-input
                id="transmittalNo"
                v-model="transmittalNo"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Control Amount</small>
              <b-form-input
                id="controlAmount"
                v-model="transmitTransactionFields.controlAmount"
                size="sm"
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Releasing Location</small>
              <b-form-select 
                size="sm" 
                style="font-size:10px"  
                required  
                v-model="selectReleasingLocation" 
                id="releasingLoc"
                >
                <option :value="null" disabled>Select Releasing Location</option>
                <option :value="location.id" v-for="(location, i) in releasingLocation" :key="i">{{ location.locationCode }} - {{ location.location }}</option>
              </b-form-select>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Count</small>
              <b-form-input
                id="actualCount"
                v-model="actualCount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Specific Releaser</small>
              <b-form-input
                id="specificReleaser"
                v-model="transmitTransactionFields.specificReleaser"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Actual Amount</small>
              <b-form-input
                id="actualAmount"
                v-model="actualAmount"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Auto Receive By</small>
              <b-form-input
                id="autoReceive_by"
                v-model="transmitTransactionFields.autoReceiveBy"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Transmittal Date</small>
              <b-form-input
                id="transmittalDate"
                v-model="transmittalDate"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Auto Released By</small>
              <b-form-input
                id="autoReleased_by"
                v-model="transmitTransactionFields.autoReleaseBy"
                size="sm"
                disabled
                required
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Status</small>
              <b-form-input
                id="status"
                v-model="status"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <small class="ml-1">Transmitter Group</small>
              <b-form-input
                id="transmittingGroup"
                v-model="transmittingGroup"  
                size="sm" 
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
            <b-col>
              <small class="ml-1">Transmitted By</small>
              <b-form-input
                id="transmittedBy"
                v-model="transmittedBy"
                size="sm"
                required
                disabled
                style="font-size:10px"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-card>
      </b-col>

      <div style="width:2px;background:#c2c2c2;"></div>

      <b-col v-show="userActions.viewToTransmit || userActions.viewReceivedCheques">
        <h6 class="mb-3">List of Cheques</h6>
          <hr />
          <b-card bg-variant="light">
          <b-row>      
            <b-col cols="6" v-show="userActions.searchToTransmit" >
              <b-input-group size="sm">
                <b-form-input
                  v-model="filterCheque"
                  type="search"
                  id="filterInput"
                  placeholder="Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button size="sm" id="filter" :disabled="!filter" @click="filterCheque = ''">Clear</b-button>
                </b-input-group-append>&nbsp;
              </b-input-group>
            </b-col>

            <!-- DateRange Picker -->
            <b-col cols="6" lg-6>
              <b-input-group size="sm" prepend="Date">
                <date-range-picker
                  id="date-range"
                  ref="picker"
                  :opens="opens"
                  :locale-data="localeData"
                  :autoApply="true"
                  :singleDatePicker="false"
                  :showWeekNumbers="true"
                  v-model="datePicker"
                  @update="updateValues"
                >
                  <div
                    slot="input"
                    style="font-size: 14px; min-width: 100px; min-height: 20px">{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
                </date-range-picker>
                <b-input-group-append>
                  <b-button @click="resetDate" id="date-reset" size="sm">Reset</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>

          <b-form-checkbox
            class="mt-4 mb-2"
            @change="selectAll"
            :disabled="transferTransactionDetails.transaction.checks.length === 0"
            :checked="selectedItems.length === transferTransactionDetails.transaction.checks.length && transferTransactionDetails.transaction.checks.length !== 0"
          >Select All</b-form-checkbox>

          <b-row>
            <b-col cols="12">
              <b-table
                class="my-table"
                id="modalReceiveTransmit-table"
                style="font-size:13px; background-color: #fff"
                ref="selectableTable"
                scrollable="true"
                selectedVariant="success"
                headVariant="light"
                empty-text="There are no cheques to display"
                :empty-filtered-text="`No search for ${filterCheque} `"
                :filter="filterCheque"
                :items="transferTransactionDetails.transaction.checks"
                :fields="transferredChecksFields" 
                :tbody-tr-class="rowClass"
                no-border-collapse
                show-empty 
                sticky-header
                selectable
                @row-selected="rowSelected"
                responsive      
              >
                <template v-slot:cell(name)="row">
                  {{ row.value.first }} {{ row.value.last }}
                </template>

                <template v-slot:cell(creationDate)="row">
                  {{ formatDate(row.item.creationDate) }}
                </template>

                <template v-slot:cell(paymentDate)="row">
                  {{ formatDate(row.item.paymentDate) }}
                </template>

                <template v-slot:cell(maturityDate)="row">
                  {{ formatDate(row.item.maturityDate) }}
                </template>

                <template slot="index" id="select-item" slot-scope="data">
                  <b-form-checkbox name="selected-items" v-model="transmitTransactionFields.checks" :value="data.item"></b-form-checkbox>
                </template>

                <template v-slot:row-details="row">
                  <b-card>
                    <ul>
                      <li v-for="(value, key) in row.item" :key="key">
                        {{ key }}: {{ value }}
                      </li>
                    </ul>
                  </b-card>
                </template>
              </b-table>
            </b-col>
          </b-row>
           </b-card>
        </b-col>
      </b-row>
  
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="saveTransmit()"
          style="font-size:13px"
          class="button"
        >
          Save and Post
        </b-button>
      </template>
    </b-modal>

    <!-- confirmation modal before saving and post -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-postTransmit"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>Post Transaction</h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Post' this transaction?
      </div>

      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >No
        </b-button>

        <b-button
          size="sm"
          variant="success"
          @click="confirmTransmit()"
          style="font-size:13px"
          class="button"
        >Yes
        </b-button>
      </template>   
    </b-modal>


    <!-- unpost modal -->
    <b-modal
      size="md"
      header-bg-variant="danger"
      header-text-variant="light"
      id="bv-modal-unpostTransmit"  
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>
          Unpost Transaction
        </h6>
      </template>

      <div style="font-size: 13px">
        Would you like to 'Unpost' this transaction?
      </div>

      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          No
        </b-button>
        <b-button
          size="sm"
          variant="danger"
          @click="save()"
          style="font-size:13px"
          class="button"
        >
          Yes
        </b-button>
      </template>
    </b-modal>

  </b-container>
</template>

<script>
import axios from "axios";
import { mapGetters } from 'vuex';
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";

export default {
  components: {
    DateRangePicker
  },

  // Access Rights
  created(){
    
    const user_actions = JSON.parse(localStorage.accessRights)["transactionModule"];

    if(user_actions.find(action => action.description === "Transmit Cheques")){
      this.userActions.transmitCheque = true;
    };

    if(user_actions.find(action => action.description === "Add Details of Cheque to Transmit")){
      this.userActions.addDetails = true;
    };

    if(user_actions.find(action => action.description === "View Cheques to Transmit")){
      this.userActions.viewToTransmit = true;
    };

    if(user_actions.find(action => action.description === "Search Cheques to Transmit")){
      this.userActions.searchToTransmit = true;
    };

    if(user_actions.find(action => action.description === "View Transmitted Cheques")){
      this.userActions.viewTransmittedCheques = true;
    };

    if(user_actions.find(action => action.description === "Search already Transmitted Cheques")){
      this.userActions.searchTransmittedCheques = true;
    };

    if(user_actions.find(action => action.description === "Receive Cheques")){
      this.userActions.receiveCheque = true;
    };

    if(user_actions.find(action => action.description === "View Received Cheques")){
      this.userActions.viewReceivedCheques = true;
    };

    if(user_actions.find(action => action.description === "Add Details of Cheque to Receive")){
      this.userActions.addDetailsReceive = true;
    };

    if(user_actions.find(action => action.description === "View Cheques to Receive")){
      this.userActions.viewToReceive = true;
    };

    if(user_actions.find(action => action.description === "Search Cheques to Receive")){
      this.userActions.searchToReceive = true;
    };

    if(user_actions.find(action => action.description === "Search already Received Cheques")){
      this.userActions.searchReceivedCheques = true;
    };

    const user_details = JSON.parse(localStorage.userDetails);
    const user_group = JSON.parse(localStorage.userGroup);
    this.userDetails.id = user_details.id;
    this.transmittedBy = `${user_details.firstname} ${user_details.lastname}`;
    this.transmitTransactionFields.transmittedBy = user_details.id;
    this.transmittingGroup = user_group.groupDesc;
    this.transmitTransactionFields.groupCode = user_group.groupCode;
  },
  // End of Access Rights

  data() {
    return {
      userActions: {
        transmitCheque: false,
        addDetails: false,
        viewToTransmit: false,
        searchToTransmit: false,
        viewTransmittedCheques: false,
        searchTransmittedCheques: false,
        receiveCheque: false,
        viewReceivedCheques: false,
        addDetailsReceive: false,
        viewToReceive: false,
        searchToReceive: false,
        searchReceivedCheques: false
      },
      userDetails: {
        id: null
      },
      receiveTransactionFields: {
        description: null,
        transferNumber: null,
        transferDate: null,
        isPosted: null,
        controlCount: null,
        controlAmount: null,
        actualCount: null,
        actualAmount: null,
        transferredByName: null,
        receivedByName: null,
        checks: [
          {
            checkNumber: null,
            id: null
          }
        ]
      },

      releasingLoc: "",
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      selectedItems: [],

      fieldsModal: [
        {
          key: "checkNumber",
          label: "Cheque No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "createdBy",
          label: "Created By",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "creationDate",
          label: "Creation Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "voucher",
          label: "Voucher No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "payee",
          label: "Payee",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "paymentDate",
          label: "Payment Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "maturityDate",
          label: "Maturity Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "checkAmount",
          label: "Cheque Amount",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "accountName",
          label: "Bank",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },
      ],

      transmitTransactionFields: {
        groupCode: null,
        specificReleaser: null,
        autoReceiveBy: null,
        autoReleaseBy: null,
        transmittedBy: null,
        controlCount: 0,
        controlAmount: 0,
        description: null,
        releasingLocation: null,
        checks: []
      },

      transferredChecksFields: [
        {
          key: "checkNumber",
          label: "Cheque No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "createdBy",
          label: "Created By",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "creationDate",
          label: "Creation Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "voucherNo",
          label: "Voucher No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "payee",
          label: "Payee",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "paymentDate",
          label: "Payment Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "maturityDate",
          label: "Maturity Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "checkAmount",
          label: "Cheque Amount",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "accountName",
          label: "Bank",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },
      ],

      transmitMainTableFields: [
        {
          key: "transactionNumber",
          label: "Transaction No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "transactionDate",
          label: "Transaction Date",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "description",
          label: "Description",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlCount",
          label: "Control Count",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "controlAmount",
          label: "Control Amount",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "status",
          label: "Status",
          sortable: false
        },

        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterCheque: null,
      filterOn: [],
      selectedTransferNumber: null,
      user_groups: "",
      groupDesc: "",
      transmittedBy: null,
      transmittingGroup: null,
      selectReleasingLocation: null
    };
  },
  computed: {
    ...mapGetters({
      transferData: 'transaction/getTransferData',
      transmitMainTableData: 'transaction/getTransmitMainTableData',
      transferredTransactionData: 'transaction/getTransferredTransactionData',
      transferredChecksData: 'transaction/getTransferredChecksData',
      transferNumbers: 'transaction/getReceivedTransactionNumbers',
      transferTransactionDetails: 'transaction/getTransferTransactionDetails',
      releasingLocation: 'transaction/getReleasingLocation'
    }),

    sortOptions() {
      // Create an options list from our fields
      return this.transmitMainTableFields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
      });
    },
    rows() {
      return this.transmitMainTableData.length
    }
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.transmitMainTableData ? this.transmitMainTableData.length : 0;
    // this.totalRowsModal = this.transferredChecksData ? this.transferredChecksData.length : 0;

  },
  methods: {

    rowSelected(items) {
      try {
        const selectedItemArr = [];
        this.transmitTransactionFields.controlCount = null;
        this.transmitTransactionFields.controlAmount = null;

        for (let i = 0; i < items.length; i++) {
          const selectedItem = {
            id: items[i].id,
            checkNumber: items[i].checkNumber
          };
          selectedItemArr.push(selectedItem);
          this.transmitTransactionFields.controlAmount += items[i].checkAmount;
        };
        this.transmitTransactionFields.checks = selectedItemArr;
        this.transmitTransactionFields.controlCount = selectedItemArr.length;
      } catch (err) {}
    },

    formatDate(date){
      return moment(date).format("DD MMMM, YYYY")
    },

    transmit() {
      // this.$store.dispatch("transaction/fetchTransferredChecks",{
      //   user_actions: JSON.parse(localStorage.accessRights),
      //   token: localStorage.token
      // });

      this.$store.dispatch("transaction/fetchReceivedTransactionNumbers",{
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transaction: 'transferredTransactions'
      });

      this.$bvModal.show("bv-modal-transmit");
    },

    async getTransferTransactionDetails(){
      const transactionId = this.selectedTransferNumber
      this.$store.dispatch("transaction/fetchTransferTransactionDetails",{
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transactionId
      });
    },

    async receiveTransmit(transactionId) {

      await axios({
        method: 'GET',
        url: `${this.$axios.defaults.baseURL}/transaction/transferred/${transactionId}`,
        headers: {
          Authorization: `Bearer ${this.token}`
        }
      }).then(res => {
        this.receiveTransactionFields = res.data.fetched.transaction.details;
        const checks = res.data.fetched.transaction.checks;
        this.receiveTransactionFields.transferDate = this.formatDate(this.receiveTransactionFields.transferDate)
        this.receiveTransactionFields.checks = checks;
      }).catch(err => {
        console.log(err);
      });

      this.$bvModal.show("bv-modal-receiveTransmit");

    },

    confirmTransmit(){
      this.$store.dispatch("transaction/transmitTransaction", {
        user_id: JSON.parse(localStorage.userDetails).userGroup,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transmitTransactionFields: this.transmitTransactionFields
      });
      this.$bvModal.hide("bv-modal-postTransmit");
      this.$bvModal.hide("bv-modal-transmit");
      this.resetForm();
      this.$store.dispatch("transaction/fetchTransferredChecks"), {
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token
      }
    },

    unpostTransmit() {
      this.$bvModal.show("bv-modal-unpostTransmit");
    },

    denyReceive() {
      this.$bvModal.show("bv-modal-denyReceive");
    },

    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getActivityLogs();
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    selectAllRows() {
      this.$refs.selectableTable.selectAllRows()
    },

    selectAll() {
      this.transmitTransactionFields.controlCount = null;
      this.transmitTransactionFields.controlAmount = null;

      if (this.transmitTransactionFields.checks.length === this.transferTransactionDetails.transaction.checks.length) {
        this.transmitTransactionFields.checks = [];
      } else {
        this.transmitTransactionFields.checks = this.transferTransactionDetails.transaction.checks.slice();

        for (let i = 0; i < this.transmitTransactionFields.checks.length; i++) {
          this.transmitTransactionFields.controlAmount += this.transmitTransactionFields.checks[i].checkAmount;
        };

        this.transmitTransactionFields.controlCount = this.transmitTransactionFields.checks.length;

      }
    },

    rowClass(item, type) {
      return this.transmitTransactionFields.checks.indexOf(item) > -1 ? "table-success" : "";
    },

    saveTransmit() {
      this.$bvModal.show("bv-modal-postTransmit");
    },

    resetForm() {
      this.filterCheque = null
      this.transmitTransactionFields = {
        specificReleaser: "",
        autoReceiveBy: "",
        autoReleaseBy: "",
        transmittedBy: "",
        controlCount: "",
        controlAmount: "",
        description: "",
        releasingLocation: "",
        checks: [
          {
            checkNumber: null,
            id: null
          }
        ]
      }
    },

    saveReceive(i) {
      const receivedBy = this.userDetails.id
      this.transmitMainTableData.splice(i, 1)
    
      this.$store.dispatch("transaction/receiveTransferredTransaction", {
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token,
        transactionId: i.id,
        receivedBy
      });

       this.$bvModal.hide("bv-modal-receiveTransmit");
    }
  },

  beforeCreate(){
     this.$store.dispatch("transaction/fetchTransmitData",{
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token
      });
      
    this.$store.dispatch("transaction/fetchReleasingLocation",{
        user_id: JSON.parse(localStorage.userDetails).id,
        user_actions: JSON.parse(localStorage.accessRights),
        token: localStorage.token
      });
  }
};
</script>

<style>
.button-circle {
  font-size: 75%; 
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}

.button-sq {
  font-size: 75%; 
  border: 0px;
  background: #00a651;
  border:0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}

.my-table {
  overflow-y:auto;
  font-size: 75%;
  max-height:240px;
}

.modal-xl {
  max-width: 90% !important;
}

.transmit {
  width: 50%;
  height: 50%;
}

.form {
  font-size:13px;
}

.badge-font-size{
  font-size: 15px
}

.page-item.active .page-link {  
  background-color: #00a651 !important;  
  border-color: #00a651 !important;  
  transition: background-color .3s;
} 

.page-item .page-link {
  color: black
}
</style>
