<template>
  <div id="requests-view">
      <div class="main">
        <b-card no-body class="mt-5">
          <b-tabs card small active-nav-item-class="font-weight-bold text-uppercase text-success">
            
            <b-tab title="Cheque Transfer" active >
              <ChequeTransfer />
            </b-tab>

            <b-tab title="Cheque Transmittal">
              <b-card-text>
                <ChequeTransmittal />
              </b-card-text>
            </b-tab>

            <!-- <b-tab title="Cheque Return Receipt">
              <b-card-text>
                <ReturnReceiptTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Released Cheque">
              <b-card-text>
                <ReleasedChequeTable />
              </b-card-text>
            </b-tab>

            
            <b-tab title="Transmittal with Invoice">
              <b-card-text>
                <TransmittalInvoiceTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Staled Cheque">
              <b-card-text>
                <StaledChequeTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Transmitted Cheques">
              <b-card-text>
                <TransmittedChequeTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Unreleased Cheques">
              <b-card-text>
                <UnreleasedChequeTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Cheque Receive">
              <b-card-text>
                <ChequeReceiveTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Cheque Return">
              <b-card-text>
                <ChequeReturnTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Released On-Dated Cheques">
              <b-card-text>
                <ReleasedOnDatedChequeTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Released Post-Dated Cheques">
              <b-card-text>
                <ReleasedPostDatedChequeTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Stale Cheque Pull-Out">
              <b-card-text>
                <StalePullOutTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Outstanding Cheques">
              <b-card-text>
                <OutstandingChequeTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Stale Cheque Pull-Out Receipt">
              <b-card-text>
                <StalePullOutReceiptTable />
              </b-card-text>
            </b-tab>

            <b-tab title="Unreleased Negotiable Cheques">
              <b-card-text>
                <UnreleasedNegotiableTable />
              </b-card-text>
            </b-tab>-->
           
          </b-tabs> 
        </b-card>
      </div>

  </div>
</template>

<script>
import ChequeTransfer from "@/components/ReportsTable/ChequeTransfer";
import ChequeTransmittal from "@/components/ReportsTable/ChequeTransmittal";

export default {
  layout: "Sidebar",
  components: {
    ChequeTransfer,
    ChequeTransmittal
  },
  data() {
    return {
  
    };
  },
  methods: {}
};
</script>

<style scoped>
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 0px 0px;
}
</style>
