<template>
    <div class="main">
        <b-card class="mt-3">
          <UserGroupsTable/>
        </b-card>
    </div>
</template>

<script>
import UserGroupsTable from "~/components/Admin/UserGroups/UserGroupsTable";

export default {
  layout: "Sidebar",
  components: {
    UserGroupsTable
  },
  data() {
    return {
      tabIndex: 0
    };
  },
  methods: {
      linkClass(idx) {
        if (this.tabIndex === idx) {
          return [,'bg-success', 'text-white','font-weight-bold']
        } else {
          return [ 'text-dark']
        }
      }
  },
};
</script>

<style scoped>
.main {
    margin-top: 20px;
    margin-left: 265px; /* Same as the width of the sidenav */
    padding: 5px 5px;
}

</style>
