<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="4" class="my-1">
        <b-form-group>
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col lg="1" md="4" sm="12"></b-col>

      <b-col sm class="my-1" align="right">
        <b-button id="releasingLoc-add" size="md" @click="addReleasingLoc()" class="button-sq mr-1">
           <font-awesome-icon icon="plus"/>&nbsp;Add Releasing Location
        </b-button>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      class="table"
      id="releasingLoc-table"
      style="font-size:15px"
      scrollable
      responsive
      :filter="filter"
      show-empty
      empty-text="There are no 'Releasing Locations' to display"
      :empty-filtered-text="`No search for ${filter}`"
      :items="items"
      :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template v-slot:cell(actions)="row">
        <b-button id="releasingLoc-edit" size="sm" @click="editReleasingLoc()" class="button mr-1 button-circle" style="background-color: #00a651" v-b-tooltip.hover title="Edit">
          <font-awesome-icon icon="edit"/>
        </b-button> 
      </template>
    </b-table>

    <hr />

    <!-- table footer -->
    <b-row align-h="end" class="mt-3">
      <b-col cols="2" class="my-1 mt-3">
        <b-form-group
          label-cols-sm="6"
          label-cols-md="2"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0 mr-2"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            style="font-size: 10px"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>&nbsp;

      <b-col cols="1" offset="1" class="my-1 mt-3">
        <b-pagination
          pills
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>
    </b-row>

    <!-- create releasing location modal -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-addReleasingLoc"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>Create Releasing Location</h6>
      </template>

        <div style="font-size: 13px">
            <b-form>
                <b-form-group label="Location Code">
                    <b-form-input
                        id="locationCode"
                        required
                        size="sm"
                        >
                    </b-form-input>
                </b-form-group>
                <b-form-group label="Releasing Location Name">
                    <b-form-input
                        id="location-name"
                        required
                        size="sm"
                        >
                    </b-form-input>
                </b-form-group>
            </b-form>
        </div>

       <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="save()"
          style="font-size:13px"
          class="button"
        >
          Save
        </b-button>
      </template>
    </b-modal>

    <!-- edit modal -->
    <b-modal
      size="md-1"
      header-bg-variant="success"
      header-text-variant="light"
      id="bv-modal-editReleasingLoc"
      class="modal"
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>Update Releasing Location</h6>
      </template>

        <div style="font-size: 13px">
            <b-form>
                <b-form>
                <b-form-group label="Location Code">
                    <b-form-input
                        id="locationCode"
                        required
                        size="sm"
                        >
                    </b-form-input>
                </b-form-group>
                <b-form-group label="Releasing Location Name">
                    <b-form-input
                        id="location-name"
                        required
                        size="sm"
                        >
                    </b-form-input>
                </b-form-group>
            </b-form>
            </b-form>
        </div>

       <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
        >
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="save()"
          style="font-size:13px"
          class="button"
        >
          Save
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
export default {
  
  data() {
    return {
      //for data table
      items: [
          {
              locationCode: "",
              locationName: "",
              actions: ""
          }
      ],
      fields: [
        {
          key: "locationCode",
          label: "Location Code",
          sortable: true
        },
        {
          key: "Releasing Location Name",
          label: "locationName",
          sortable: true
        },
        {
          key: "actions",
          label: "Action",
          sortable: true
        }
      ],
      totalRows: "",
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: []
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    rows() {
      return this.items.length
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    clearSelected() {
      this.modalOpen = false;
      this.$refs.releasingLoctable.clearSelected();
    },
    addReleasingLoc() {
      this.$bvModal.show("bv-modal-addReleasingLoc");
    },

    editReleasingLoc() {
      this.$bvModal.show("bv-modal-editReleasingLoc");
    },

    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>

<style>
.button-circle {
  font-size: 75%; 
  border: 0px;
  border-radius:50%;
  width:28px;
  height:28px;
  margin: auto;
}

.button-sq {
  font-size: 75%; 
  border: 0px;
  background: #00a651;
  border:0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}

.table {
  overflow-y:hidden;
  font-size: 75%;
}

.releasingLoc {
  width: 50%;
  height: 50%;
}

.form {
  font-size:13px;
}

.badge-font-size{
  font-size: 15px
}

#releasingLoc-table tbody tr:hover {
  background-color: #f2f3f4;
}

.page-item.active .page-link {  
  background-color: #00a651 !important;  
  border-color: #00a651 !important;  
  transition: background-color .3s;
} 

.page-item .page-link {
  color: black
}

</style>
