<template>
    <div class="wrapper">
        <nav id="sidebar" fixed="left">
            <div class="sidebar-navbar">
                <div>
                <b-img src="/Logo.png" style="width:100%; height:100%" center></b-img>
                </div>
                <hr />
            
            <ul class="list-unstyled components">
                <li>
                  <router-link to="/admin-dashboard/modules">&nbsp;&nbsp;<font-awesome-icon class="icon" icon="th-large" style="position:relative; margin-left: 6px"/>&nbsp;&nbsp;Modules</router-link>
                </li>
                <li>
                  <router-link to="/admin-dashboard/user-accounts">&nbsp;&nbsp;<font-awesome-icon class="icon" icon="user" style="position:relative; margin-left: 9px"/>&nbsp;&nbsp;User Accounts</router-link>
                </li>
                <li>
                  <router-link to="/admin-dashboard/user-groups">&nbsp;&nbsp;<font-awesome-icon class="icon" icon="users" style="position:relative; margin-left: 3px"/>&nbsp;&nbsp;User Groups</router-link>
                </li>
                <li>
                  <router-link to="/admin-dashboard/roles">&nbsp;&nbsp;<font-awesome-icon class="icon" icon="address-card" style="position:relative; margin-left: 7px"/>&nbsp;&nbsp;Roles and Access</router-link>
                </li>
                <li>
                  <router-link to="/admin-dashboard/actions">&nbsp;&nbsp;<font-awesome-icon class="icon" icon="tasks" style="position:relative; margin-left: 4px"/>&nbsp;&nbsp;&nbsp;Actions</router-link>
                </li>
                <li>
                  <router-link to="/admin-dashboard/releasing-locations">&nbsp;&nbsp;<font-awesome-icon class="icon" icon="map-marked-alt" style="position:relative; margin-left: 7px"/>&nbsp;&nbsp;Releasing Locations</router-link>
                </li>
                <li>
                  <router-link to="/admin-dashboard/activity-logs">&nbsp;&nbsp;<font-awesome-icon class="icon" icon="clipboard-list" style="position:relative; margin-left: 7px"/>&nbsp;&nbsp;&nbsp;Activity Logs</router-link>
                </li>
            </ul>
            </div>
        </nav>

        <!-- HEADER NAVIGATION BAR-->
        <div class="content" >
            <div class="right">
                <b-row>
                    <b-col cols="3" style="margin-top:10px">
                    <font-awesome-icon style="color: #2F3028; height: 23px; width:23px" icon="user"  />
                    </b-col>
                    <b-col cols="6" style="margin:auto">
                    <b-row>
                        <b style="font-size:12px">{{user}}&nbsp;</b>
                    </b-row>
                    <b-row>
                        <b-badge style="font-size:9px; background-color:#00803E">{{role}}</b-badge>
                    </b-row>
                    </b-col>
                    <b-col cols="3" style="margin-top:10px;">
                    <a href="/"><font-awesome-icon style="color: #6c757d; height:23px; width:23px" icon="power-off" /></a>
                    </b-col>
                </b-row>
            </div>
            <nuxt />
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      role:"Administrator",
      user:"Jinibi"
    }
  }
};
</script>

<style scoped>
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
  font-size: medium;
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
body {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.hr {
  background-color: white;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 3px;
}

#sidebar {
  background: #01401F;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  min-width: 230px;
  max-width: 230px;
  min-height: 100vh;
  position: fixed;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar.active {
  margin-left: -250px;
  border-radius: 3px;
}
#sidebar .sidebar-navbar {
  padding: 10px;
  /* background: linear-gradient(-90deg, #aac758, #476e03); */
}

#sidebar ul.components {
  padding: 10px 0;
  border-top: 1px solid #dee2e6;
  font-size: 10px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 16px;
  display: block;
}

#sidebar ul li a:hover {
  color: white;
  background: #00803E;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #00803E;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #00803E;
}

.content {
  width: 100%;
}

.right {
  position: absolute;
  right: 25px;
}

</style>