<template>
  <div class="wrapper">
    <nav id="sidebar" fixed="left">
      <div class="sidebar-header">
        <div>
          <b-img src="/Logo.png" style="width:100%; height:100%" center></b-img>
        </div>
      </div>
      <ul class="list-unstyled components">
        <li>
          <router-link to="/releaser">&nbsp;&nbsp;<font-awesome-icon icon="file-signature"/>&nbsp;&nbsp;Transactions</router-link>
        </li>
        <div v-show="userActions.reportsTab">
          <li>
            <router-link to="/reports-releaser">&nbsp;&nbsp;<font-awesome-icon icon="chart-line"/>&nbsp;&nbsp;Reports</router-link>
          </li>
        </div>
      </ul>
    </nav>

    <!-- HEADER NAVIGATION BAR-->
    <div class="content" >
      <div class="right">
        <b-row>
          <b-col cols="3" style="margin-top:10px">
            <font-awesome-icon style="color: #2F3028; height: 23px; width:23px" icon="user"  />
          </b-col>
          <b-col cols="6" style="margin:auto">
            <b-row>
              <b style="font-size:12px">{{user}}&nbsp;</b>
            </b-row>
            <b-row>
              <b-badge style="font-size:9px; background-color:#00803E">{{role}}</b-badge>
            </b-row>
          </b-col>
          <b-col cols="3" style="margin-top:10px;">
            <a href="/"><font-awesome-icon style="color: #6c757d; height:23px; width:23px" icon="power-off" /></a>
          </b-col>
        </b-row>
      </div>
      <nuxt />
    </div>
  </div>
</template>

<script>
export default {

  // Access Rights
  created(){
    const userDetails = JSON.parse(localStorage.userDetails);
    const userName = userDetails.firstname + " " + userDetails.lastname;
      this.user = userName;
      this.role = userDetails.roleName;
    const user_actions = JSON.parse(localStorage.accessRights)["reportsModule"];

    if(user_actions.find(action => action.description === "View Reports")){
      this.userActions.reportsTab = true;
    }
  },
  // End of Access Rights

  data() {
    return {
      userActions: {
        reportsTab: false
      },

      role: "",
      user: ""
    }
  }
};
</script>

<style scoped>
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
  font-size: large;
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
body {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.hr {
  background-color: white;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background: #01401F;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  min-width: 205px;
  max-width: 205px;
  min-height: 100vh;
  position: fixed;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  /* background: linear-gradient(-90deg, #aac758, #476e03); */
}

#sidebar ul.components {
  padding: 10px 0;
  border-top: 1px solid #fff;
  font-size: 15px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: white;
  background: #00803E;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #00803E;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #00803E;
}

.content {
  width: 100%;
}

.right {
  position: absolute;
  right: 25px;
}
</style>