<template>
  <div id="requests-view">
      <div class="main">
        <b-card no-body class="mt-5">
          <b-tabs v-model="tabIndex" content-class="mt-3" card small>
          
            <b-tab v-if="userActions.transferCheque" title="TRANSFER" class="tab" active-nav-item-class="font-weight-bold text-uppercase text-success">
              <b-card-text>
                <TransferTable/>
              </b-card-text>
            </b-tab>
           
            <b-tab v-if="userActions.viewVoidedCheques" class="tab" title="VOID"   >
              <b-card-text>
                <CancelTable />
              </b-card-text>
            </b-tab>

            <b-tab v-if="userActions.transmitCheque" class="tab" title="TRANSMIT"  >
              <b-card-text>
                <TransmitTable />
              </b-card-text>
            </b-tab>

            <b-tab v-if="userActions.viewReturnedCheques" class="tab" title="RETURN CHEQUE DOCS"  >
              <b-card-text>
                <ReturnTable />
              </b-card-text>
            </b-tab>

            <b-tab title="RECALL" class="tab" >
              <b-card-text>
                <RecallTable />
              </b-card-text>
            </b-tab>

            <b-tab title="RECEIVE" class="tab"  >
              <b-card-text>
                <ReceiveTable />
              </b-card-text>
            </b-tab>

            <b-tab title="RELEASE" class="tab"   >
              <b-card-text>
                <ReleaseTable />
              </b-card-text>
            </b-tab>

            <b-tab title="STALED" class="tab"   >
              <b-card-text>
                <StaledTable />
              </b-card-text>
            </b-tab>

            <b-tab title="PULL-OUT" class="tab"  >
              <b-card-text>
                <PulledOutTable />
              </b-card-text>
            </b-tab>

          </b-tabs>
        </b-card>
      </div>

  </div>
</template>

<script>
import TransferTable from "@/components/TransactionTables/TransferTable";
import CancelTable from "@/components/TransactionTables/CancelTable";
import TransmitTable from "@/components/TransactionTables/TransmitTable";
import RecallTable from "@/components/TransactionTables/RecallTable";
import ReturnTable from "@/components/TransactionTables/ReturnTable";
import ReceiveTable from "@/components/TransactionTables/ReceiveTable";
import ReleaseTable from "@/components/TransactionTables/ReleaseTable";
import StaledTable from "@/components/TransactionTables/StaledTable";
import PulledOutTable from "@/components/TransactionTables/PulledOutTable";

export default {
  layout: "Sidebar",
  components: {
    TransferTable,
    CancelTable,
    TransmitTable,
    ReturnTable,
    RecallTable,
    ReceiveTable,
    ReleaseTable,
    StaledTable,
    PulledOutTable
  },

  created(){
    const user_actions = JSON.parse(localStorage.accessRights)["transactionModule"];

    if(user_actions.find(action => action.description === "Transfer Cheques")){
      this.userActions.transferCheque = true;
    };

    if(user_actions.find(action => action.description === "View Voided Cheques")){
      this.userActions.viewVoidedCheques = true;
    };

    if(user_actions.find(action => action.description === "Transmit Cheques")){
      this.userActions.transmitCheque = true;
    };

    if(user_actions.find(action => action.description === "View Returned Cheques")){
      this.userActions.viewReturnedCheques = true;
    };
  },

  data() {
    return {
      tabIndex: 0,
      userActions: {
        transferCheque: false,
        viewVoidedCheques: false,
        transmitCheque: false,
        viewReturnedCheques: false
      }
    };
  },
  methods: {
      // linkClass(idx) {
      //   if (this.tabIndex === idx) {
      //     return [,'bg-success', 'text-white','font-weight-bold']
      //   } else {
      //     return [ 'text-dark']
      //   }
      // }
  },
};
</script>

<style>
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 0px 0px;
}

a {
  color: #00a651;
  text-decoration: none;
  background-color: transparent;
}
</style>
